# Project 08 - Analysis of U.S. Immigration (I-94) Data
### Udacity Data Engineer - Capstone Project
> by Peter Wissel | 2021-05-05

## Project Overview
This project works with a data set for immigration to the United States. The supplementary datasets will include data on
airport codes, U.S. city demographics and temperature data.

The following process is divided into different sub-steps to illustrate how to answer the questions set by the business
analytics team.

The project file follows the following steps:
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data

##### 3.1.3. At what times do foreign persons arrive for immigration to the U.S.? [(Data pipeline)](#question3_data_pipeline) <a name="question3_description">
**Date dimensions**

`st_i94_arrdate` and `st_i94_depdate` from staging table `st_i94_immigration` describe dates in SAS specific Date format.
The SAS date calculation starts on 1960-01-01. These columns are converted to DateType format in the staging table
`st_i94_immigrations` as columns named `st_i94_arrdate_iso` and `st_i94_arrdate_iso`.

Get date values from columns `st_i94_immigration.st_i94_arrdate_iso` and `st_i94_immigration.st_i94_depdate_iso`.
Get a valid MIN(), MAX() and default (null value representation) date. Clean data and rewrite staging table 'st_i94_immigrations' if needed.
Finally, create two dimensions 'd_date_arrivals' and 'd_date_departures' out of it without gaps.

1. Read data and get min() and max() value out of `st_i94_arrdate_iso` and `st_i94_depdate_iso`
2. Clean date column "st_i94_depdate_iso": Valid entries are between 2016-01-01 and 2017-06-14. Pre- and descending values
   will be set to null / default value (1900-01-01)
3. Update fact table `f_i94_immigrations` based on cleaned column `st_i94_depdate_iso`  values inside
4. Generate new date staging tables (`st_date_arrivals`, `st_date_departures`) based on default, min and max values
5. Append date specific columns to staging tables, create a dimension out of it and store it
6. Map dimension `d_date_arrivals` to  fact table `f_i94_immigration` based on columns
   (`st_date_arrivals.st_da_date` --> `d_date_arrivals.d_da_id`) == (`st_i94_immigration.st_i94_arrdate_iso` --> `f_i94_immigration.d_da_id`).
7. Map dimension `d_date_departures` to  fact table `f_i94_immigration` based on columns
   (`st_date_departures.st_dd_date` --> `d_date_departures.d_dd_id`) == (`st_i94_immigration.st_i94_depdate_iso` --> `f_i94_immigration.d_dd_id`).
8. Answer Project Question 3.1: At what times do foreign persons arrive for immigration to the U.S.?
9. Answer Project Question 3.2: When a foreign person comes to the U.S. for immigration, do they travel on to another state?
10. Answer Project Question 3.3: If a foreign person travels to another state, after which period of time does this happen?


The creation of those two date dimensions is based on one physical table. This method is called
[Role-Playing Dimensions](https://dba.stackexchange.com/questions/137971/how-many-date-dimensions-for-one-fact)
![Role-Playing Dimension](../P8_capstone_documentation/11_P8_RolePlayingDimension.png).


### Step 4: Run ETL to Model the Data
##### 4.1.3. At what times do foreign persons arrive for immigration to the U.S.? [(Data description)](#question3_description) <a name="question3_data_pipeline">
**Date dimensions**

`st_i94_arrdate` and `st_i94_depdate` from staging table `st_i94_immigration` describe dates in SAS specific Date format.
The SAS date calculation starts on 1960-01-01. These columns are converted to DateType format in the staging table
`st_i94_immigrations` as columns named `st_i94_arrdate_iso` and `st_i94_arrdate_iso`.

Get date values from columns `st_i94_immigration.st_i94_arrdate_iso` and `st_i94_immigration.st_i94_depdate_iso`.
Get a valid MIN(), MAX() and default (null value representation) date. Clean data and rewrite staging table 'st_i94_immigrations' if needed.
Finally, create two dimensions 'd_date_arrivals' and 'd_date_departures' out of it without gaps.

1. Read data and get min() and max() value out of `st_i94_arrdate_iso` and `st_i94_depdate_iso`

In [1]:
###### Imports and Installs section
import shutil
import pandas as pd
import pyspark.sql.functions as F
# import spark as spark
from pyspark.sql.types import StructType, StructField, DoubleType, StringType, IntegerType, LongType, TimestampType, DateType
from datetime import datetime, timedelta
from pyspark.sql import SparkSession, DataFrameNaFunctions
from pyspark.sql.functions import when, count, col, to_date, datediff, date_format, month
import re
import json
from os import path
MAX_MEMORY = "5g"

spark = SparkSession\
    .builder\
    .appName("etl pipeline for project 8 - I94 data") \
    .config("spark.jars.packages","saurfang:spark-sas7bdat:3.0.0-s_2.12")\
    .config('spark.sql.repl.eagerEval.enabled', True) \
    .config("spark.executor.memory", MAX_MEMORY) \
    .config("spark.driver.memory", MAX_MEMORY) \
    .appName("Foo") \
    .enableHiveSupport()\
    .getOrCreate()

# setting the current LOG-Level
spark.sparkContext.setLogLevel('ERROR')

In [2]:
# Read written data frame back into memory
location_to_read = "../P8_capstone_resource_files/parquet_stage/PQ2/st_i94_immigrations"
df_st_i94_immigrations = spark.read.parquet(location_to_read)
df_st_i94_immigrations.printSchema()

root
 |-- st_i94_cit: integer (nullable = true)
 |-- st_i94_port: string (nullable = true)
 |-- st_i94_addr: string (nullable = true)
 |-- st_i94_arrdate: integer (nullable = true)
 |-- st_i94_arrdate_iso: date (nullable = true)
 |-- st_i94_depdate: integer (nullable = true)
 |-- st_i94_depdate_iso: date (nullable = true)
 |-- st_i94_dtadfile: date (nullable = true)
 |-- st_i94_matflag: string (nullable = true)
 |-- st_i94_count: integer (nullable = true)
 |-- st_i94_id: integer (nullable = true)
 |-- st_i94_port_state_code: string (nullable = true)
 |-- st_i94_year: integer (nullable = true)
 |-- st_i94_month: integer (nullable = true)

In [3]:
# Get an overview about valid data - check some different perspectives
# get valid min and max date from date_fields `st_i94_arrdate_iso` and `st_i94_depdate_iso`

st_i94_arrdate_depdate_iso = df_st_i94_immigrations.select(
    F.min(col("st_i94_arrdate_iso")).alias("st_i94_arrdate_iso_min"),
    F.max(col("st_i94_arrdate_iso")).alias("st_i94_arrdate_iso_max"),
    F.min(col("st_i94_depdate_iso")).alias("st_i94_depdate_iso_min"),
    F.max(col("st_i94_depdate_iso")).alias("st_i94_depdate_iso_max"),
)

print(st_i94_arrdate_depdate_iso)

+----------------------+----------------------+----------------------+----------------------+
|st_i94_arrdate_iso_min|st_i94_arrdate_iso_max|st_i94_depdate_iso_min|st_i94_depdate_iso_max|
+----------------------+----------------------+----------------------+----------------------+
|            2016-01-01|            2016-12-31|            1900-01-01|            2092-05-09|
+----------------------+----------------------+----------------------+----------------------+

In [4]:
# get an overview about arrdate:
# all distinct date values
print(df_st_i94_immigrations.select("st_i94_arrdate_iso").distinct().count())
# Most entries on which date?
df_st_i94_immigrations.select("st_i94_arrdate_iso").groupBy("st_i94_arrdate_iso").count().sort("count", ascending=False).show(1000, False)
# get all date values. Is there a large gap or date values out of range?
df_st_i94_immigrations.select("st_i94_arrdate_iso").groupBy("st_i94_arrdate_iso").count().sort("st_i94_arrdate_iso", ascending=True).show(1000, False)

"""
Findings:

Everything seems to be valid. Date values start from 1st of January 2016 and ends by 31st of December 2016.
"""

366
+------------------+-----+
|st_i94_arrdate_iso|count|
+------------------+-----+
|2016-08-01        |49269|
|2016-07-23        |49171|
|2016-07-29        |49141|
|2016-07-30        |49066|
|2016-07-22        |48916|
|2016-07-28        |48358|
|2016-07-21        |48185|
|2016-07-24        |48028|
|2016-07-25        |47361|
|2016-08-04        |46963|
|2016-07-20        |46743|
|2016-07-27        |46409|
|2016-07-31        |45662|
|2016-08-05        |44889|
|2016-08-02        |44452|
|2016-07-01        |43395|
|2016-09-01        |43083|
|2016-07-09        |42250|
|2016-07-15        |42189|
|2016-07-16        |41506|
|2016-04-16        |41425|
|2016-06-30        |41376|
|2016-09-03        |41188|
|2016-07-10        |41179|
|2016-07-11        |41041|
|2016-07-07        |41009|
|2016-07-14        |40960|
|2016-07-08        |40951|
|2016-09-10        |40923|
|2016-07-02        |40850|
|2016-07-17        |40609|
|2016-09-02        |40509|
|2016-12-20        |40469|
|2016-09-11        |40441|
|2016-12-23        |40349|
|2016-07-18        |40208|
|2016-09-12        |40000|
|2016-09-17        |39979|
|2016-09-18        |39545|
|2016-08-06        |39447|
|2016-07-19        |39293|
|2016-07-12        |39288|
|2016-08-03        |39191|
|2016-09-08        |39131|
|2016-07-13        |39088|
|2016-04-15        |39070|
|2016-09-09        |39030|
|2016-04-17        |38984|
|2016-04-29        |38955|
|2016-08-10        |38874|
|2016-09-05        |38871|
|2016-07-26        |38863|
|2016-09-15        |38771|
|2016-08-12        |38770|
|2016-08-20        |38615|
|2016-08-13        |38573|
|2016-06-29        |38502|
|2016-08-19        |38352|
|2016-12-22        |38328|
|2016-07-06        |38304|
|2016-09-16        |38300|
|2016-06-25        |38275|
|2016-12-19        |38245|
|2016-08-07        |38139|
|2016-12-21        |38106|
|2016-09-24        |38041|
|2016-07-03        |38038|
|2016-10-02        |37948|
|2016-06-28        |37936|
|2016-11-12        |37895|
|2016-04-30        |37823|
|2016-06-20        |37759|
|2016-06-18        |37646|
|2016-04-14        |37636|
|2016-09-19        |37625|
|2016-06-24        |37586|
|2016-08-21        |37573|
|2016-09-25        |37552|
|2016-05-21        |37538|
|2016-06-04        |37530|
|2016-09-07        |37439|
|2016-06-19        |37426|
|2016-10-01        |37414|
|2016-09-06        |37258|
|2016-10-08        |37255|
|2016-08-11        |37219|
|2016-10-16        |37217|
|2016-10-15        |37193|
|2016-12-16        |37106|
|2016-09-04        |37103|
|2016-12-18        |37019|
|2016-08-18        |36908|
|2016-08-17        |36840|
|2016-09-14        |36833|
|2016-09-13        |36813|
|2016-08-08        |36773|
|2016-06-26        |36699|
|2016-05-14        |36645|
|2016-07-05        |36621|
|2016-06-05        |36540|
|2016-10-03        |36534|
|2016-08-16        |36520|
|2016-05-05        |36514|
|2016-11-06        |36502|
|2016-12-17        |36474|
|2016-06-11        |36445|
|2016-11-05        |36420|
|2016-06-23        |36417|
|2016-12-15        |36392|
|2016-08-15        |36345|
|2016-07-04        |36292|
|2016-11-11        |36288|
|2016-05-12        |36250|
|2016-05-20        |36246|
|2016-01-10        |36234|
|2016-04-18        |36174|
|2016-05-15        |36113|
|2016-08-09        |36104|
|2016-06-01        |36090|
|2016-08-22        |36005|
|2016-10-09        |35976|
|2016-08-14        |35887|
|2016-06-12        |35884|
|2016-11-13        |35765|
|2016-06-03        |35746|
|2016-04-28        |35742|
|2016-09-26        |35694|
|2016-05-07        |35446|
|2016-06-02        |35441|
|2016-06-21        |35441|
|2016-06-15        |35360|
|2016-03-13        |35333|
|2016-08-27        |35315|
|2016-09-20        |35312|
|2016-06-10        |35291|
|2016-05-02        |35279|
|2016-04-13        |35252|
|2016-09-23        |35241|
|2016-10-04        |35196|
|2016-10-14        |35157|
|2016-06-17        |35156|
|2016-10-29        |35146|
|2016-08-26        |35143|
|2016-06-27        |35125|
|2016-06-06        |35117|
|2016-04-11        |35116|
|2016-04-10        |35114|
|2016-10-10        |35108|
|2016-08-25        |35094|
|2016-12-24        |35064|
|2016-10-22        |35061|
|2016-10-23        |35061|
|2016-06-16        |35049|
|2016-10-17        |35044|
|2016-04-02        |34980|
|2016-04-03        |34943|
|2016-08-23        |34904|
|2016-04-01        |34872|
|2016-09-22        |34757|
|2016-05-08        |34739|
|2016-12-26        |34701|
|2016-06-22        |34626|
|2016-05-16        |34605|
|2016-08-24        |34596|
|2016-05-13        |34502|
|2016-05-01        |34487|
|2016-11-10        |34476|
|2016-04-23        |34433|
|2016-05-22        |34427|
|2016-10-05        |34323|
|2016-04-07        |34188|
|2016-06-13        |34167|
|2016-03-20        |34163|
|2016-10-20        |34162|
|2016-05-06        |34149|
|2016-04-26        |34109|
|2016-09-29        |34060|
|2016-05-09        |34052|
|2016-12-10        |34028|
|2016-01-17        |33987|
|2016-09-21        |33970|
|2016-05-19        |33954|
|2016-04-04        |33947|
|2016-03-12        |33919|
|2016-04-27        |33879|
|2016-04-24        |33872|
|2016-06-09        |33847|
|2016-10-21        |33789|
|2016-11-07        |33775|
|2016-05-11        |33631|
|2016-05-04        |33618|
|2016-04-09        |33555|
|2016-09-30        |33540|
|2016-12-27        |33533|
|2016-01-09        |33442|
|2016-01-11        |33429|
|2016-10-07        |33320|
|2016-10-13        |33317|
|2016-01-16        |33242|
|2016-05-18        |32953|
|2016-01-18        |32927|
|2016-06-14        |32905|
|2016-05-03        |32876|
|2016-04-22        |32799|
|2016-06-08        |32761|
|2016-11-14        |32760|
|2016-04-25        |32759|
|2016-03-19        |32755|
|2016-08-28        |32711|
|2016-03-21        |32664|
|2016-05-10        |32632|
|2016-04-08        |32564|
|2016-06-07        |32505|
|2016-05-17        |32485|
|2016-04-12        |32473|
|2016-05-28        |32334|
|2016-10-24        |32327|
|2016-12-14        |32293|
|2016-05-26        |32251|
|2016-09-28        |32237|
|2016-04-06        |32198|
|2016-03-17        |32171|
|2016-03-25        |32114|
|2016-05-23        |32095|
|2016-05-25        |32073|
|2016-11-01        |32066|
|2016-04-05        |32015|
|2016-08-29        |32009|
|2016-09-27        |31999|
|2016-12-28        |31937|
|2016-04-21        |31927|
|2016-03-18        |31904|
|2016-10-30        |31846|
|2016-03-24        |31842|
|2016-03-14        |31780|
|2016-10-18        |31762|
|2016-10-28        |31756|
|2016-10-06        |31752|
|2016-10-12        |31729|
|2016-03-16        |31635|
|2016-03-06        |31483|
|2016-10-11        |31382|
|2016-11-09        |31381|
|2016-10-19        |31325|
|2016-03-11        |31287|
|2016-01-08        |31174|
|2016-10-31        |31136|
|2016-05-27        |31125|
|2016-04-20        |30985|
|2016-04-19        |30963|
|2016-11-16        |30852|
|2016-03-15        |30793|
|2016-10-25        |30789|
|2016-03-23        |30780|
|2016-03-05        |30749|
|2016-01-15        |30710|
|2016-03-28        |30692|
|2016-11-17        |30676|
|2016-10-27        |30577|
|2016-05-30        |30516|
|2016-11-02        |30462|
|2016-12-29        |30461|
|2016-03-29        |30420|
|2016-12-12        |30360|
|2016-03-04        |30293|
|2016-11-04        |30233|
|2016-01-07        |30191|
|2016-10-26        |30155|
|2016-11-15        |30148|
|2016-12-11        |30116|
|2016-12-25        |30077|
|2016-05-31        |30049|
|2016-01-04        |29974|
|2016-03-22        |29970|
|2016-11-08        |29928|
|2016-08-31        |29888|
|2016-12-04        |29722|
|2016-03-27        |29710|
|2016-05-24        |29351|
|2016-12-03        |29280|
|2016-11-19        |29258|
|2016-11-27        |29236|
|2016-05-29        |29185|
|2016-03-10        |29182|
|2016-03-31        |29174|
|2016-11-28        |29105|
|2016-08-30        |29087|
|2016-12-30        |28924|
|2016-03-30        |28922|
|2016-01-12        |28912|
|2016-01-05        |28897|
|2016-01-06        |28712|
|2016-11-03        |28693|
|2016-12-13        |28527|
|2016-11-18        |28491|
|2016-02-01        |28419|
|2016-01-25        |28365|
|2016-02-28        |28316|
|2016-12-05        |28246|
|2016-12-01        |28236|
|2016-03-07        |28219|
|2016-02-06        |27993|
|2016-03-26        |27967|
|2016-01-24        |27801|
|2016-01-13        |27789|
|2016-01-31        |27740|
|2016-01-19        |27734|
|2016-02-07        |27634|
|2016-01-14        |27549|
|2016-02-15        |27472|
|2016-11-26        |27279|
|2016-01-30        |27172|
|2016-02-14        |27125|
|2016-02-21        |27110|
|2016-02-13        |27093|
|2016-11-20        |27025|
|2016-01-03        |27009|
|2016-12-09        |26926|
|2016-02-20        |26884|
|2016-03-01        |26760|
|2016-01-20        |26643|
|2016-12-08        |26640|
|2016-12-02        |26612|
|2016-02-27        |26588|
|2016-03-03        |26493|
|2016-11-23        |26236|
|2016-03-09        |25887|
|2016-02-05        |25748|
|2016-01-22        |25669|
|2016-11-30        |25653|
|2016-03-02        |25596|
|2016-12-07        |25596|
|2016-02-29        |25531|
|2016-01-21        |25519|
|2016-02-08        |25341|
|2016-11-21        |25276|
|2016-02-22        |25121|
|2016-11-25        |25033|
|2016-02-12        |25031|
|2016-11-29        |24800|
|2016-11-22        |24625|
|2016-11-24        |24467|
|2016-02-19        |24454|
|2016-02-26        |24415|
|2016-12-06        |24401|
|2016-03-08        |24374|
|2016-01-02        |23665|
|2016-02-02        |23660|
|2016-02-04        |23656|
|2016-01-01        |23410|
|2016-12-31        |23337|
|2016-02-03        |23306|
|2016-02-17        |23052|
|2016-02-10        |23045|
|2016-01-29        |23002|
|2016-02-16        |22551|
|2016-02-25        |22494|
|2016-01-23        |22433|
|2016-01-26        |21440|
|2016-02-09        |21370|
|2016-02-24        |21309|
|2016-01-27        |20802|
|2016-02-23        |20604|
|2016-01-28        |20396|
|2016-02-18        |11259|
|2016-02-11        |9998 |
+------------------+-----+

+------------------+-----+
|st_i94_arrdate_iso|count|
+------------------+-----+
|2016-01-01        |23410|
|2016-01-02        |23665|
|2016-01-03        |27009|
|2016-01-04        |29974|
|2016-01-05        |28897|
|2016-01-06        |28712|
|2016-01-07        |30191|
|2016-01-08        |31174|
|2016-01-09        |33442|
|2016-01-10        |36234|
|2016-01-11        |33429|
|2016-01-12        |28912|
|2016-01-13        |27789|
|2016-01-14        |27549|
|2016-01-15        |30710|
|2016-01-16        |33242|
|2016-01-17        |33987|
|2016-01-18        |32927|
|2016-01-19        |27734|
|2016-01-20        |26643|
|2016-01-21        |25519|
|2016-01-22        |25669|
|2016-01-23        |22433|
|2016-01-24        |27801|
|2016-01-25        |28365|
|2016-01-26        |21440|
|2016-01-27        |20802|
|2016-01-28        |20396|
|2016-01-29        |23002|
|2016-01-30        |27172|
|2016-01-31        |27740|
|2016-02-01        |28419|
|2016-02-02        |23660|
|2016-02-03        |23306|
|2016-02-04        |23656|
|2016-02-05        |25748|
|2016-02-06        |27993|
|2016-02-07        |27634|
|2016-02-08        |25341|
|2016-02-09        |21370|
|2016-02-10        |23045|
|2016-02-11        |9998 |
|2016-02-12        |25031|
|2016-02-13        |27093|
|2016-02-14        |27125|
|2016-02-15        |27472|
|2016-02-16        |22551|
|2016-02-17        |23052|
|2016-02-18        |11259|
|2016-02-19        |24454|
|2016-02-20        |26884|
|2016-02-21        |27110|
|2016-02-22        |25121|
|2016-02-23        |20604|
|2016-02-24        |21309|
|2016-02-25        |22494|
|2016-02-26        |24415|
|2016-02-27        |26588|
|2016-02-28        |28316|
|2016-02-29        |25531|
|2016-03-01        |26760|
|2016-03-02        |25596|
|2016-03-03        |26493|
|2016-03-04        |30293|
|2016-03-05        |30749|
|2016-03-06        |31483|
|2016-03-07        |28219|
|2016-03-08        |24374|
|2016-03-09        |25887|
|2016-03-10        |29182|
|2016-03-11        |31287|
|2016-03-12        |33919|
|2016-03-13        |35333|
|2016-03-14        |31780|
|2016-03-15        |30793|
|2016-03-16        |31635|
|2016-03-17        |32171|
|2016-03-18        |31904|
|2016-03-19        |32755|
|2016-03-20        |34163|
|2016-03-21        |32664|
|2016-03-22        |29970|
|2016-03-23        |30780|
|2016-03-24        |31842|
|2016-03-25        |32114|
|2016-03-26        |27967|
|2016-03-27        |29710|
|2016-03-28        |30692|
|2016-03-29        |30420|
|2016-03-30        |28922|
|2016-03-31        |29174|
|2016-04-01        |34872|
|2016-04-02        |34980|
|2016-04-03        |34943|
|2016-04-04        |33947|
|2016-04-05        |32015|
|2016-04-06        |32198|
|2016-04-07        |34188|
|2016-04-08        |32564|
|2016-04-09        |33555|
|2016-04-10        |35114|
|2016-04-11        |35116|
|2016-04-12        |32473|
|2016-04-13        |35252|
|2016-04-14        |37636|
|2016-04-15        |39070|
|2016-04-16        |41425|
|2016-04-17        |38984|
|2016-04-18        |36174|
|2016-04-19        |30963|
|2016-04-20        |30985|
|2016-04-21        |31927|
|2016-04-22        |32799|
|2016-04-23        |34433|
|2016-04-24        |33872|
|2016-04-25        |32759|
|2016-04-26        |34109|
|2016-04-27        |33879|
|2016-04-28        |35742|
|2016-04-29        |38955|
|2016-04-30        |37823|
|2016-05-01        |34487|
|2016-05-02        |35279|
|2016-05-03        |32876|
|2016-05-04        |33618|
|2016-05-05        |36514|
|2016-05-06        |34149|
|2016-05-07        |35446|
|2016-05-08        |34739|
|2016-05-09        |34052|
|2016-05-10        |32632|
|2016-05-11        |33631|
|2016-05-12        |36250|
|2016-05-13        |34502|
|2016-05-14        |36645|
|2016-05-15        |36113|
|2016-05-16        |34605|
|2016-05-17        |32485|
|2016-05-18        |32953|
|2016-05-19        |33954|
|2016-05-20        |36246|
|2016-05-21        |37538|
|2016-05-22        |34427|
|2016-05-23        |32095|
|2016-05-24        |29351|
|2016-05-25        |32073|
|2016-05-26        |32251|
|2016-05-27        |31125|
|2016-05-28        |32334|
|2016-05-29        |29185|
|2016-05-30        |30516|
|2016-05-31        |30049|
|2016-06-01        |36090|
|2016-06-02        |35441|
|2016-06-03        |35746|
|2016-06-04        |37530|
|2016-06-05        |36540|
|2016-06-06        |35117|
|2016-06-07        |32505|
|2016-06-08        |32761|
|2016-06-09        |33847|
|2016-06-10        |35291|
|2016-06-11        |36445|
|2016-06-12        |35884|
|2016-06-13        |34167|
|2016-06-14        |32905|
|2016-06-15        |35360|
|2016-06-16        |35049|
|2016-06-17        |35156|
|2016-06-18        |37646|
|2016-06-19        |37426|
|2016-06-20        |37759|
|2016-06-21        |35441|
|2016-06-22        |34626|
|2016-06-23        |36417|
|2016-06-24        |37586|
|2016-06-25        |38275|
|2016-06-26        |36699|
|2016-06-27        |35125|
|2016-06-28        |37936|
|2016-06-29        |38502|
|2016-06-30        |41376|
|2016-07-01        |43395|
|2016-07-02        |40850|
|2016-07-03        |38038|
|2016-07-04        |36292|
|2016-07-05        |36621|
|2016-07-06        |38304|
|2016-07-07        |41009|
|2016-07-08        |40951|
|2016-07-09        |42250|
|2016-07-10        |41179|
|2016-07-11        |41041|
|2016-07-12        |39288|
|2016-07-13        |39088|
|2016-07-14        |40960|
|2016-07-15        |42189|
|2016-07-16        |41506|
|2016-07-17        |40609|
|2016-07-18        |40208|
|2016-07-19        |39293|
|2016-07-20        |46743|
|2016-07-21        |48185|
|2016-07-22        |48916|
|2016-07-23        |49171|
|2016-07-24        |48028|
|2016-07-25        |47361|
|2016-07-26        |38863|
|2016-07-27        |46409|
|2016-07-28        |48358|
|2016-07-29        |49141|
|2016-07-30        |49066|
|2016-07-31        |45662|
|2016-08-01        |49269|
|2016-08-02        |44452|
|2016-08-03        |39191|
|2016-08-04        |46963|
|2016-08-05        |44889|
|2016-08-06        |39447|
|2016-08-07        |38139|
|2016-08-08        |36773|
|2016-08-09        |36104|
|2016-08-10        |38874|
|2016-08-11        |37219|
|2016-08-12        |38770|
|2016-08-13        |38573|
|2016-08-14        |35887|
|2016-08-15        |36345|
|2016-08-16        |36520|
|2016-08-17        |36840|
|2016-08-18        |36908|
|2016-08-19        |38352|
|2016-08-20        |38615|
|2016-08-21        |37573|
|2016-08-22        |36005|
|2016-08-23        |34904|
|2016-08-24        |34596|
|2016-08-25        |35094|
|2016-08-26        |35143|
|2016-08-27        |35315|
|2016-08-28        |32711|
|2016-08-29        |32009|
|2016-08-30        |29087|
|2016-08-31        |29888|
|2016-09-01        |43083|
|2016-09-02        |40509|
|2016-09-03        |41188|
|2016-09-04        |37103|
|2016-09-05        |38871|
|2016-09-06        |37258|
|2016-09-07        |37439|
|2016-09-08        |39131|
|2016-09-09        |39030|
|2016-09-10        |40923|
|2016-09-11        |40441|
|2016-09-12        |40000|
|2016-09-13        |36813|
|2016-09-14        |36833|
|2016-09-15        |38771|
|2016-09-16        |38300|
|2016-09-17        |39979|
|2016-09-18        |39545|
|2016-09-19        |37625|
|2016-09-20        |35312|
|2016-09-21        |33970|
|2016-09-22        |34757|
|2016-09-23        |35241|
|2016-09-24        |38041|
|2016-09-25        |37552|
|2016-09-26        |35694|
|2016-09-27        |31999|
|2016-09-28        |32237|
|2016-09-29        |34060|
|2016-09-30        |33540|
|2016-10-01        |37414|
|2016-10-02        |37948|
|2016-10-03        |36534|
|2016-10-04        |35196|
|2016-10-05        |34323|
|2016-10-06        |31752|
|2016-10-07        |33320|
|2016-10-08        |37255|
|2016-10-09        |35976|
|2016-10-10        |35108|
|2016-10-11        |31382|
|2016-10-12        |31729|
|2016-10-13        |33317|
|2016-10-14        |35157|
|2016-10-15        |37193|
|2016-10-16        |37217|
|2016-10-17        |35044|
|2016-10-18        |31762|
|2016-10-19        |31325|
|2016-10-20        |34162|
|2016-10-21        |33789|
|2016-10-22        |35061|
|2016-10-23        |35061|
|2016-10-24        |32327|
|2016-10-25        |30789|
|2016-10-26        |30155|
|2016-10-27        |30577|
|2016-10-28        |31756|
|2016-10-29        |35146|
|2016-10-30        |31846|
|2016-10-31        |31136|
|2016-11-01        |32066|
|2016-11-02        |30462|
|2016-11-03        |28693|
|2016-11-04        |30233|
|2016-11-05        |36420|
|2016-11-06        |36502|
|2016-11-07        |33775|
|2016-11-08        |29928|
|2016-11-09        |31381|
|2016-11-10        |34476|
|2016-11-11        |36288|
|2016-11-12        |37895|
|2016-11-13        |35765|
|2016-11-14        |32760|
|2016-11-15        |30148|
|2016-11-16        |30852|
|2016-11-17        |30676|
|2016-11-18        |28491|
|2016-11-19        |29258|
|2016-11-20        |27025|
|2016-11-21        |25276|
|2016-11-22        |24625|
|2016-11-23        |26236|
|2016-11-24        |24467|
|2016-11-25        |25033|
|2016-11-26        |27279|
|2016-11-27        |29236|
|2016-11-28        |29105|
|2016-11-29        |24800|
|2016-11-30        |25653|
|2016-12-01        |28236|
|2016-12-02        |26612|
|2016-12-03        |29280|
|2016-12-04        |29722|
|2016-12-05        |28246|
|2016-12-06        |24401|
|2016-12-07        |25596|
|2016-12-08        |26640|
|2016-12-09        |26926|
|2016-12-10        |34028|
|2016-12-11        |30116|
|2016-12-12        |30360|
|2016-12-13        |28527|
|2016-12-14        |32293|
|2016-12-15        |36392|
|2016-12-16        |37106|
|2016-12-17        |36474|
|2016-12-18        |37019|
|2016-12-19        |38245|
|2016-12-20        |40469|
|2016-12-21        |38106|
|2016-12-22        |38328|
|2016-12-23        |40349|
|2016-12-24        |35064|
|2016-12-25        |30077|
|2016-12-26        |34701|
|2016-12-27        |33533|
|2016-12-28        |31937|
|2016-12-29        |30461|
|2016-12-30        |28924|
|2016-12-31        |23337|
+------------------+-----+

'\nFindings:\n\nEverything seems to be valid. Date values start from 1st of January 2016 and ends by 31st of December 2016.\n'

In [5]:
# get an overview about depdate:
# all distinct date values
print(df_st_i94_immigrations.select("st_i94_depdate_iso").distinct().count())
# Most entries on which date?
df_st_i94_immigrations.select("st_i94_depdate_iso").groupBy("st_i94_depdate_iso").count().sort("count", ascending=False).show(10, False)
# get all date values. Is there a large gap or date values out of range?
df_st_i94_immigrations.select("st_i94_depdate_iso").groupBy("st_i94_depdate_iso").count().sort("st_i94_depdate_iso", ascending=True).show(1000, False)

715
+------------------+------+
|st_i94_depdate_iso|count |
+------------------+------+
|1900-01-01        |999506|
|2016-08-13        |47475 |
|2016-08-20        |47468 |
|2016-08-06        |47158 |
|2016-07-31        |46593 |
|2016-07-30        |46308 |
|2016-08-14        |46240 |
|2016-08-07        |45422 |
|2016-08-15        |44867 |
|2016-08-27        |44791 |
+------------------+------+
only showing top 10 rows

+------------------+------+
|st_i94_depdate_iso|count |
+------------------+------+
|1900-01-01        |999506|
|1961-08-21        |1     |
|1961-10-31        |1     |
|1962-08-20        |1     |
|1971-08-31        |1     |
|1971-09-04        |1     |
|1971-11-10        |1     |
|1981-09-11        |1     |
|2001-01-04        |1     |
|2001-01-16        |1     |
|2001-03-31        |1     |
|2001-07-20        |1     |
|2001-10-31        |1     |
|2006-01-08        |1     |
|2006-08-19        |1     |
|2006-10-02        |1     |
|2006-11-14        |1     |
|2006-11-17        |1     |
|2006-12-08        |1     |
|2007-06-18        |1     |
|2010-01-27        |1     |
|2010-02-25        |1     |
|2010-04-18        |1     |
|2010-06-02        |1     |
|2010-09-30        |1     |
|2010-10-02        |1     |
|2010-10-10        |1     |
|2010-11-28        |1     |
|2011-01-07        |1     |
|2011-03-02        |2     |
|2011-03-03        |1     |
|2011-06-26        |1     |
|2011-07-23        |1     |
|2011-08-10        |1     |
|2011-09-26        |1     |
|2012-01-28        |1     |
|2012-03-01        |1     |
|2012-04-12        |4     |
|2012-04-14        |1     |
|2012-04-15        |1     |
|2012-09-10        |1     |
|2013-02-02        |2     |
|2013-07-13        |1     |
|2013-07-16        |1     |
|2013-09-01        |1     |
|2013-09-10        |1     |
|2013-10-11        |1     |
|2013-11-14        |1     |
|2014-01-12        |1     |
|2014-02-20        |1     |
|2014-04-01        |1     |
|2014-04-22        |1     |
|2014-04-24        |1     |
|2014-05-17        |1     |
|2014-06-28        |1     |
|2014-07-25        |1     |
|2014-08-02        |1     |
|2014-08-12        |1     |
|2014-08-13        |1     |
|2014-11-01        |1     |
|2014-11-05        |1     |
|2014-11-23        |3     |
|2014-11-27        |1     |
|2015-01-01        |1     |
|2015-01-02        |1     |
|2015-01-04        |1     |
|2015-01-05        |2     |
|2015-01-08        |2     |
|2015-01-10        |4     |
|2015-01-13        |1     |
|2015-01-18        |1     |
|2015-01-22        |1     |
|2015-01-24        |1     |
|2015-01-26        |3     |
|2015-01-29        |1     |
|2015-02-01        |1     |
|2015-02-15        |4     |
|2015-02-16        |3     |
|2015-02-17        |2     |
|2015-02-18        |1     |
|2015-02-23        |2     |
|2015-02-26        |1     |
|2015-02-28        |1     |
|2015-03-03        |1     |
|2015-03-04        |1     |
|2015-03-08        |1     |
|2015-03-10        |2     |
|2015-03-11        |1     |
|2015-03-13        |4     |
|2015-03-15        |1     |
|2015-03-19        |1     |
|2015-03-24        |1     |
|2015-03-26        |1     |
|2015-03-27        |1     |
|2015-03-28        |2     |
|2015-03-29        |2     |
|2015-03-30        |1     |
|2015-03-31        |1     |
|2015-04-01        |1     |
|2015-04-03        |1     |
|2015-04-04        |1     |
|2015-04-05        |1     |
|2015-04-08        |1     |
|2015-04-12        |1     |
|2015-04-16        |1     |
|2015-04-18        |1     |
|2015-04-23        |1     |
|2015-04-25        |1     |
|2015-05-01        |1     |
|2015-05-04        |2     |
|2015-05-10        |1     |
|2015-05-15        |2     |
|2015-05-17        |1     |
|2015-05-18        |1     |
|2015-05-26        |1     |
|2015-05-30        |1     |
|2015-05-31        |1     |
|2015-06-03        |1     |
|2015-06-07        |1     |
|2015-06-15        |1     |
|2015-06-16        |1     |
|2015-06-18        |1     |
|2015-06-21        |1     |
|2015-07-01        |1     |
|2015-07-13        |1     |
|2015-07-16        |1     |
|2015-07-23        |1     |
|2015-08-14        |1     |
|2015-08-22        |3     |
|2015-09-03        |1     |
|2015-09-06        |2     |
|2015-09-07        |1     |
|2015-09-15        |1     |
|2015-09-16        |2     |
|2015-09-23        |1     |
|2015-09-28        |1     |
|2015-09-30        |1     |
|2015-10-01        |2     |
|2015-10-11        |1     |
|2015-10-16        |2     |
|2015-10-22        |1     |
|2015-10-24        |3     |
|2015-10-26        |2     |
|2015-11-07        |1     |
|2015-11-12        |1     |
|2015-11-24        |1     |
|2015-11-25        |2     |
|2015-11-30        |3     |
|2015-12-01        |2     |
|2015-12-03        |1     |
|2015-12-04        |1     |
|2015-12-05        |1     |
|2015-12-06        |3     |
|2015-12-07        |1     |
|2015-12-08        |2     |
|2015-12-09        |2     |
|2015-12-12        |1     |
|2015-12-14        |1     |
|2015-12-15        |2     |
|2015-12-16        |1     |
|2015-12-17        |1     |
|2015-12-19        |1     |
|2015-12-20        |1     |
|2015-12-21        |3     |
|2015-12-23        |3     |
|2015-12-24        |1     |
|2015-12-26        |1     |
|2015-12-27        |3     |
|2015-12-28        |1     |
|2015-12-29        |1     |
|2015-12-30        |2     |
|2016-01-01        |11    |
|2016-01-02        |1102  |
|2016-01-03        |2095  |
|2016-01-04        |2562  |
|2016-01-05        |3348  |
|2016-01-06        |4430  |
|2016-01-07        |6074  |
|2016-01-08        |8687  |
|2016-01-09        |10355 |
|2016-01-10        |11779 |
|2016-01-11        |10118 |
|2016-01-12        |9948  |
|2016-01-13        |11479 |
|2016-01-14        |13775 |
|2016-01-15        |16904 |
|2016-01-16        |16587 |
|2016-01-17        |15299 |
|2016-01-18        |12884 |
|2016-01-19        |11540 |
|2016-01-20        |13886 |
|2016-01-21        |16534 |
|2016-01-22        |20051 |
|2016-01-23        |17975 |
|2016-01-24        |17573 |
|2016-01-25        |16892 |
|2016-01-26        |15099 |
|2016-01-27        |16473 |
|2016-01-28        |19096 |
|2016-01-29        |22182 |
|2016-01-30        |22849 |
|2016-01-31        |20698 |
|2016-02-01        |17071 |
|2016-02-02        |15305 |
|2016-02-03        |17059 |
|2016-02-04        |19635 |
|2016-02-05        |22596 |
|2016-02-06        |22330 |
|2016-02-07        |19615 |
|2016-02-08        |17632 |
|2016-02-09        |16836 |
|2016-02-10        |19154 |
|2016-02-11        |20242 |
|2016-02-12        |22716 |
|2016-02-13        |23087 |
|2016-02-14        |21241 |
|2016-02-15        |20014 |
|2016-02-16        |17786 |
|2016-02-17        |19147 |
|2016-02-18        |20921 |
|2016-02-19        |23678 |
|2016-02-20        |24663 |
|2016-02-21        |20736 |
|2016-02-22        |17692 |
|2016-02-23        |16549 |
|2016-02-24        |17525 |
|2016-02-25        |20894 |
|2016-02-26        |24644 |
|2016-02-27        |24859 |
|2016-02-28        |22744 |
|2016-02-29        |20937 |
|2016-03-01        |17309 |
|2016-03-02        |18514 |
|2016-03-03        |22023 |
|2016-03-04        |25440 |
|2016-03-05        |26141 |
|2016-03-06        |23754 |
|2016-03-07        |20134 |
|2016-03-08        |18818 |
|2016-03-09        |20094 |
|2016-03-10        |23633 |
|2016-03-11        |25961 |
|2016-03-12        |26366 |
|2016-03-13        |23771 |
|2016-03-14        |21618 |
|2016-03-15        |21318 |
|2016-03-16        |21542 |
|2016-03-17        |22933 |
|2016-03-18        |26327 |
|2016-03-19        |27123 |
|2016-03-20        |25971 |
|2016-03-21        |23598 |
|2016-03-22        |21643 |
|2016-03-23        |21991 |
|2016-03-24        |22819 |
|2016-03-25        |24503 |
|2016-03-26        |25845 |
|2016-03-27        |28429 |
|2016-03-28        |26586 |
|2016-03-29        |24450 |
|2016-03-30        |24737 |
|2016-03-31        |26094 |
|2016-04-01        |25311 |
|2016-04-02        |28066 |
|2016-04-03        |28542 |
|2016-04-04        |25728 |
|2016-04-05        |22362 |
|2016-04-06        |23305 |
|2016-04-07        |25937 |
|2016-04-08        |28967 |
|2016-04-09        |29982 |
|2016-04-10        |29834 |
|2016-04-11        |25745 |
|2016-04-12        |23815 |
|2016-04-13        |23789 |
|2016-04-14        |28552 |
|2016-04-15        |31273 |
|2016-04-16        |31196 |
|2016-04-17        |29765 |
|2016-04-18        |26821 |
|2016-04-19        |24859 |
|2016-04-20        |27188 |
|2016-04-21        |29281 |
|2016-04-22        |31467 |
|2016-04-23        |32184 |
|2016-04-24        |29622 |
|2016-04-25        |27502 |
|2016-04-26        |25181 |
|2016-04-27        |25871 |
|2016-04-28        |29792 |
|2016-04-29        |32325 |
|2016-04-30        |35650 |
|2016-05-01        |32035 |
|2016-05-02        |28822 |
|2016-05-03        |26337 |
|2016-05-04        |26203 |
|2016-05-05        |30094 |
|2016-05-06        |31830 |
|2016-05-07        |33397 |
|2016-05-08        |32208 |
|2016-05-09        |28192 |
|2016-05-10        |28222 |
|2016-05-11        |26348 |
|2016-05-12        |29229 |
|2016-05-13        |30564 |
|2016-05-14        |32791 |
|2016-05-15        |32641 |
|2016-05-16        |29441 |
|2016-05-17        |28354 |
|2016-05-18        |28093 |
|2016-05-19        |30267 |
|2016-05-20        |33040 |
|2016-05-21        |33723 |
|2016-05-22        |32398 |
|2016-05-23        |31971 |
|2016-05-24        |30137 |
|2016-05-25        |29810 |
|2016-05-26        |31171 |
|2016-05-27        |31481 |
|2016-05-28        |32880 |
|2016-05-29        |33308 |
|2016-05-30        |31594 |
|2016-05-31        |29891 |
|2016-06-01        |27087 |
|2016-06-02        |28950 |
|2016-06-03        |29397 |
|2016-06-04        |31108 |
|2016-06-05        |31195 |
|2016-06-06        |29255 |
|2016-06-07        |26416 |
|2016-06-08        |27990 |
|2016-06-09        |29764 |
|2016-06-10        |31498 |
|2016-06-11        |31970 |
|2016-06-12        |31235 |
|2016-06-13        |28745 |
|2016-06-14        |28366 |
|2016-06-15        |29318 |
|2016-06-16        |29875 |
|2016-06-17        |30293 |
|2016-06-18        |31627 |
|2016-06-19        |30917 |
|2016-06-20        |28881 |
|2016-06-21        |27074 |
|2016-06-22        |27380 |
|2016-06-23        |29238 |
|2016-06-24        |30833 |
|2016-06-25        |32934 |
|2016-06-26        |32094 |
|2016-06-27        |30500 |
|2016-06-28        |29024 |
|2016-06-29        |29663 |
|2016-06-30        |33645 |
|2016-07-01        |29620 |
|2016-07-02        |32487 |
|2016-07-03        |30810 |
|2016-07-04        |25982 |
|2016-07-05        |28804 |
|2016-07-06        |29016 |
|2016-07-07        |29527 |
|2016-07-08        |29773 |
|2016-07-09        |32995 |
|2016-07-10        |33742 |
|2016-07-11        |30630 |
|2016-07-12        |30378 |
|2016-07-13        |29433 |
|2016-07-14        |33112 |
|2016-07-15        |35348 |
|2016-07-16        |36862 |
|2016-07-17        |35753 |
|2016-07-18        |32741 |
|2016-07-19        |31507 |
|2016-07-20        |33348 |
|2016-07-21        |34030 |
|2016-07-22        |36227 |
|2016-07-23        |39880 |
|2016-07-24        |39019 |
|2016-07-25        |36526 |
|2016-07-26        |32975 |
|2016-07-27        |37324 |
|2016-07-28        |40182 |
|2016-07-29        |42532 |
|2016-07-30        |46308 |
|2016-07-31        |46593 |
|2016-08-01        |42829 |
|2016-08-02        |40106 |
|2016-08-03        |40004 |
|2016-08-04        |42274 |
|2016-08-05        |44591 |
|2016-08-06        |47158 |
|2016-08-07        |45422 |
|2016-08-08        |42501 |
|2016-08-09        |39292 |
|2016-08-10        |41371 |
|2016-08-11        |41200 |
|2016-08-12        |41677 |
|2016-08-13        |47475 |
|2016-08-14        |46240 |
|2016-08-15        |44867 |
|2016-08-16        |39500 |
|2016-08-17        |38426 |
|2016-08-18        |40755 |
|2016-08-19        |40237 |
|2016-08-20        |47468 |
|2016-08-21        |44280 |
|2016-08-22        |41602 |
|2016-08-23        |37913 |
|2016-08-24        |37405 |
|2016-08-25        |41102 |
|2016-08-26        |41009 |
|2016-08-27        |44791 |
|2016-08-28        |44061 |
|2016-08-29        |40902 |
|2016-08-30        |39812 |
|2016-08-31        |39104 |
|2016-09-01        |35176 |
|2016-09-02        |35483 |
|2016-09-03        |41246 |
|2016-09-04        |38348 |
|2016-09-05        |37615 |
|2016-09-06        |32145 |
|2016-09-07        |31198 |
|2016-09-08        |33529 |
|2016-09-09        |33588 |
|2016-09-10        |39185 |
|2016-09-11        |35171 |
|2016-09-12        |33101 |
|2016-09-13        |29142 |
|2016-09-14        |31596 |
|2016-09-15        |37060 |
|2016-09-16        |37037 |
|2016-09-17        |39446 |
|2016-09-18        |37816 |
|2016-09-19        |31734 |
|2016-09-20        |31161 |
|2016-09-21        |28639 |
|2016-09-22        |32207 |
|2016-09-23        |34362 |
|2016-09-24        |36205 |
|2016-09-25        |33818 |
|2016-09-26        |30528 |
|2016-09-27        |28464 |
|2016-09-28        |30149 |
|2016-09-29        |34806 |
|2016-09-30        |38010 |
|2016-10-01        |36671 |
|2016-10-02        |33260 |
|2016-10-03        |29421 |
|2016-10-04        |27349 |
|2016-10-05        |27718 |
|2016-10-06        |28155 |
|2016-10-07        |30631 |
|2016-10-08        |33935 |
|2016-10-09        |32273 |
|2016-10-10        |31989 |
|2016-10-11        |28173 |
|2016-10-12        |28177 |
|2016-10-13        |29712 |
|2016-10-14        |32751 |
|2016-10-15        |34619 |
|2016-10-16        |32326 |
|2016-10-17        |29557 |
|2016-10-18        |27405 |
|2016-10-19        |26523 |
|2016-10-20        |30910 |
|2016-10-21        |32010 |
|2016-10-22        |32839 |
|2016-10-23        |31317 |
|2016-10-24        |28455 |
|2016-10-25        |27862 |
|2016-10-26        |27798 |
|2016-10-27        |30857 |
|2016-10-28        |33368 |
|2016-10-29        |33748 |
|2016-10-30        |31782 |
|2016-10-31        |29756 |
|2016-11-01        |26142 |
|2016-11-02        |27146 |
|2016-11-03        |28783 |
|2016-11-04        |30840 |
|2016-11-05        |32088 |
|2016-11-06        |31410 |
|2016-11-07        |27125 |
|2016-11-08        |24750 |
|2016-11-09        |25218 |
|2016-11-10        |28330 |
|2016-11-11        |27228 |
|2016-11-12        |27865 |
|2016-11-13        |22023 |
|2016-11-14        |23207 |
|2016-11-15        |26940 |
|2016-11-16        |28197 |
|2016-11-17        |30932 |
|2016-11-18        |31835 |
|2016-11-19        |33707 |
|2016-11-20        |32239 |
|2016-11-21        |27522 |
|2016-11-22        |22991 |
|2016-11-23        |21147 |
|2016-11-24        |19696 |
|2016-11-25        |21078 |
|2016-11-26        |27145 |
|2016-11-27        |27821 |
|2016-11-28        |26595 |
|2016-11-29        |25502 |
|2016-11-30        |28368 |
|2016-12-01        |26158 |
|2016-12-02        |27475 |
|2016-12-03        |29496 |
|2016-12-04        |27374 |
|2016-12-05        |25189 |
|2016-12-06        |23606 |
|2016-12-07        |24452 |
|2016-12-08        |25466 |
|2016-12-09        |27402 |
|2016-12-10        |29473 |
|2016-12-11        |27636 |
|2016-12-12        |26161 |
|2016-12-13        |24170 |
|2016-12-14        |24413 |
|2016-12-15        |25569 |
|2016-12-16        |25382 |
|2016-12-17        |24140 |
|2016-12-18        |24705 |
|2016-12-19        |24465 |
|2016-12-20        |24924 |
|2016-12-21        |23631 |
|2016-12-22        |22727 |
|2016-12-23        |21506 |
|2016-12-24        |16712 |
|2016-12-25        |15238 |
|2016-12-26        |19579 |
|2016-12-27        |23622 |
|2016-12-28        |26157 |
|2016-12-29        |28081 |
|2016-12-30        |27670 |
|2016-12-31        |24534 |
|2017-01-01        |28986 |
|2017-01-02        |33628 |
|2017-01-03        |32956 |
|2017-01-04        |31877 |
|2017-01-05        |31052 |
|2017-01-06        |28563 |
|2017-01-07        |27995 |
|2017-01-08        |28484 |
|2017-01-09        |25129 |
|2017-01-10        |22200 |
|2017-01-11        |19237 |
|2017-01-12        |17099 |
|2017-01-13        |14807 |
|2017-01-14        |17579 |
|2017-01-15        |17602 |
|2017-01-16        |14866 |
|2017-01-17        |12014 |
|2017-01-18        |11342 |
|2017-01-19        |10070 |
|2017-01-20        |10328 |
|2017-01-21        |10719 |
|2017-01-22        |10011 |
|2017-01-23        |8873  |
|2017-01-24        |7661  |
|2017-01-25        |7975  |
|2017-01-26        |6999  |
|2017-01-27        |6089  |
|2017-01-28        |7974  |
|2017-01-29        |7618  |
|2017-01-30        |7588  |
|2017-01-31        |7431  |
|2017-02-01        |6056  |
|2017-02-02        |5603  |
|2017-02-03        |5122  |
|2017-02-04        |6190  |
|2017-02-05        |6072  |
|2017-02-06        |5041  |
|2017-02-07        |4478  |
|2017-02-08        |4691  |
|2017-02-09        |3967  |
|2017-02-10        |4529  |
|2017-02-11        |5082  |
|2017-02-12        |5161  |
|2017-02-13        |4399  |
|2017-02-14        |3843  |
|2017-02-15        |5209  |
|2017-02-16        |4162  |
|2017-02-17        |3862  |
|2017-02-18        |4714  |
|2017-02-19        |4562  |
|2017-02-20        |4830  |
|2017-02-21        |3929  |
|2017-02-22        |4484  |
|2017-02-23        |4270  |
|2017-02-24        |4054  |
|2017-02-25        |5695  |
|2017-02-26        |5259  |
|2017-02-27        |4913  |
|2017-02-28        |6146  |
|2017-03-01        |4994  |
|2017-03-02        |4385  |
|2017-03-03        |3716  |
|2017-03-04        |4639  |
|2017-03-05        |4730  |
|2017-03-06        |3993  |
|2017-03-07        |3519  |
|2017-03-08        |3948  |
|2017-03-09        |3855  |
|2017-03-10        |3582  |
|2017-03-11        |3969  |
|2017-03-12        |4002  |
|2017-03-13        |3554  |
|2017-03-14        |2806  |
|2017-03-15        |4620  |
|2017-03-16        |3776  |
|2017-03-17        |3430  |
|2017-03-18        |3799  |
|2017-03-19        |3645  |
|2017-03-20        |3659  |
|2017-03-21        |2963  |
|2017-03-22        |3136  |
|2017-03-23        |3053  |
|2017-03-24        |2766  |
|2017-03-25        |3659  |
|2017-03-26        |3318  |
|2017-03-27        |2860  |
|2017-03-28        |3156  |
|2017-03-29        |3171  |
|2017-03-30        |3404  |
|2017-03-31        |3148  |
|2017-04-01        |3140  |
|2017-04-02        |2966  |
|2017-04-03        |2651  |
|2017-04-04        |2520  |
|2017-04-05        |2659  |
|2017-04-06        |2319  |
|2017-04-07        |1998  |
|2017-04-08        |2503  |
|2017-04-09        |2392  |
|2017-04-10        |2595  |
|2017-04-11        |2299  |
|2017-04-12        |2381  |
|2017-04-13        |2246  |
|2017-04-14        |1899  |
|2017-04-15        |2188  |
|2017-04-16        |1691  |
|2017-04-17        |1660  |
|2017-04-18        |1979  |
|2017-04-19        |1960  |
|2017-04-20        |2340  |
|2017-04-21        |1759  |
|2017-04-22        |2068  |
|2017-04-23        |1906  |
|2017-04-24        |1878  |
|2017-04-25        |2218  |
|2017-04-26        |2099  |
|2017-04-27        |2251  |
|2017-04-28        |2183  |
|2017-04-29        |2671  |
|2017-04-30        |2600  |
|2017-05-01        |1783  |
|2017-05-02        |1912  |
|2017-05-03        |2010  |
|2017-05-04        |1906  |
|2017-05-05        |1917  |
|2017-05-06        |2017  |
|2017-05-07        |1873  |
|2017-05-08        |1781  |
|2017-05-09        |1774  |
|2017-05-10        |2201  |
|2017-05-11        |1898  |
|2017-05-12        |1660  |
|2017-05-13        |1771  |
|2017-05-14        |1853  |
|2017-05-15        |2021  |
|2017-05-16        |1866  |
|2017-05-17        |1831  |
|2017-05-18        |1827  |
|2017-05-19        |1528  |
|2017-05-20        |1844  |
|2017-05-21        |1650  |
|2017-05-22        |1542  |
|2017-05-23        |1551  |
|2017-05-24        |1500  |
|2017-05-25        |1612  |
|2017-05-26        |1446  |
|2017-05-27        |1659  |
|2017-05-28        |1658  |
|2017-05-29        |1463  |
|2017-05-30        |1551  |
|2017-05-31        |1608  |
|2017-06-01        |1511  |
|2017-06-02        |1170  |
|2017-06-03        |1290  |
|2017-06-04        |1221  |
|2017-06-05        |1226  |
|2017-06-06        |1221  |
|2017-06-07        |1142  |
|2017-06-08        |1183  |

In [7]:
# compare st_i94_arrdate with st_i94_depdate. Is departure date earlier than arrival date --> there is a logical failure!

# Show only data to be corrected in the third column
df_st_i94_immigrations \
    .groupBy("st_i94_arrdate_iso", "st_i94_arrdate", "st_i94_depdate", "st_i94_depdate_iso") \
    .count() \
    .withColumn("st_i94_depdate_iso_wrong_dates",
                 when(col("st_i94_depdate_iso") < "2016-01-01", "1111-01-01")\
                .when(col("st_i94_depdate_iso") > "2017-06-14", "2222-01-01") \
                .when(col("st_i94_arrdate_iso") > col("st_i94_depdate_iso"), "3333-01-01")
                .otherwise(" ").cast(StringType())) \
    .orderBy("st_i94_arrdate_iso", "st_i94_depdate_iso") \
    .show(20)

+------------------+--------------+--------------+------------------+-----+------------------------------+
|st_i94_arrdate_iso|st_i94_arrdate|st_i94_depdate|st_i94_depdate_iso|count|st_i94_depdate_iso_wrong_dates|
+------------------+--------------+--------------+------------------+-----+------------------------------+
|        2016-01-01|         20454|             0|        1900-01-01| 3977|                    1111-01-01|
|        2016-01-01|         20454|         20428|        2015-12-06|    1|                    1111-01-01|
|        2016-01-01|         20454|         20455|        2016-01-02| 1089|                              |
|        2016-01-01|         20454|         20456|        2016-01-03|  830|                              |
|        2016-01-01|         20454|         20457|        2016-01-04|  749|                              |
|        2016-01-01|         20454|         20458|        2016-01-05|  724|                              |
|        2016-01-01|         20454|         20459|        2016-01-06|  735|                              |
|        2016-01-01|         20454|         20460|        2016-01-07|  743|                              |
|        2016-01-01|         20454|         20461|        2016-01-08|  918|                              |
|        2016-01-01|         20454|         20462|        2016-01-09| 1099|                              |
|        2016-01-01|         20454|         20463|        2016-01-10| 1044|                              |
|        2016-01-01|         20454|         20464|        2016-01-11|  817|                              |
|        2016-01-01|         20454|         20465|        2016-01-12|  577|                              |
|        2016-01-01|         20454|         20466|        2016-01-13|  523|                              |
|        2016-01-01|         20454|         20467|        2016-01-14|  439|                              |
|        2016-01-01|         20454|         20468|        2016-01-15|  602|                              |
|        2016-01-01|         20454|         20469|        2016-01-16|  579|                              |
|        2016-01-01|         20454|         20470|        2016-01-17|  475|                              |
|        2016-01-01|         20454|         20471|        2016-01-18|  333|                              |
|        2016-01-01|         20454|         20472|        2016-01-19|  258|                              |
+------------------+--------------+--------------+------------------+-----+------------------------------+
only showing top 20 rows

In [ ]:
"""
Findings:
715 different date values ==> all distinct date values are greater than (>) 366 days of a year
==> That's possible. Many Immigrants already know their departure date.

1900-01-01 (start date):  This date is used as default value instead of a null value

arrdate starts on 2016-01-01 ==> The departure date cannot be earlier than the arrival date! --> each date before
2016-01-01 must be set to 1900-01-01 as null/default value

depdate greater than 2017-06-14 is not realistic, due to the very small amount of depdate entries within this range of dates
==> entries must be set to 1900-01-01 (null/default)

arrdate describes the 1st arrival into the U.S.. After that the immigrants decide to travel to different states in the U.S..
conclusion: arrdate must be earlier than depdate (arrdate < depdate ==> 2016-01-01 < 2016-01-02)

The following table shows some wrong dates where arrdate > depdate
+------------------+--------------+--------------+------------------+-----+------------------------------+
|st_i94_arrdate_iso|st_i94_arrdate|st_i94_depdate|st_i94_depdate_iso|count|st_i94_depdate_iso_wrong_dates|
+------------------+--------------+--------------+------------------+-----+------------------------------+
|        2016-01-02|         20455|         20454|        2016-01-01|    1|                    3333-01-01|
|        2016-01-08|         20461|         20454|        2016-01-01|    1|                    3333-01-01|
|        2016-01-08|         20461|         20459|        2016-01-06|    2|                    3333-01-01|
|        2016-01-08|         20461|         20460|        2016-01-07|    3|                    3333-01-01|
+------------------+--------------+--------------+------------------+-----+------------------------------+
"""

2. Clean date column "st_i94_depdate_iso" and "st_": Valid entries are between 2016-01-01 and 2017-06-14. Pre- and
   descending values will be set to null / default value (1900-01-01)

In [6]:
# show corrected column `st_i94_depdate_iso_corrected`
df_st_i94_immigrations \
    .groupBy("st_i94_arrdate_iso", "st_i94_arrdate", "st_i94_depdate", "st_i94_depdate_iso") \
    .count() \
    .withColumn("st_i94_depdate_iso_corrected",
                 when(col("st_i94_depdate_iso") < "2016-01-01", "1900-01-01")\
                .when(col("st_i94_depdate_iso") > "2017-06-14", "1900-01-01") \
                .when(col("st_i94_arrdate_iso") > col("st_i94_depdate_iso"), "1900-01-01")
                .otherwise(col("st_i94_depdate_iso")).cast(DateType())) \
    .orderBy("st_i94_arrdate_iso", "st_i94_depdate_iso") \
    .show(20)

+------------------+--------------+--------------+------------------+-----+----------------------------+
|st_i94_arrdate_iso|st_i94_arrdate|st_i94_depdate|st_i94_depdate_iso|count|st_i94_depdate_iso_corrected|
+------------------+--------------+--------------+------------------+-----+----------------------------+
|        2016-01-01|         20454|             0|        1900-01-01| 3977|                  1900-01-01|
|        2016-01-01|         20454|         20428|        2015-12-06|    1|                  1900-01-01|
|        2016-01-01|         20454|         20455|        2016-01-02| 1089|                  2016-01-02|
|        2016-01-01|         20454|         20456|        2016-01-03|  830|                  2016-01-03|
|        2016-01-01|         20454|         20457|        2016-01-04|  749|                  2016-01-04|
|        2016-01-01|         20454|         20458|        2016-01-05|  724|                  2016-01-05|
|        2016-01-01|         20454|         20459|        2016-01-06|  735|                  2016-01-06|
|        2016-01-01|         20454|         20460|        2016-01-07|  743|                  2016-01-07|
|        2016-01-01|         20454|         20461|        2016-01-08|  918|                  2016-01-08|
|        2016-01-01|         20454|         20462|        2016-01-09| 1099|                  2016-01-09|
|        2016-01-01|         20454|         20463|        2016-01-10| 1044|                  2016-01-10|
|        2016-01-01|         20454|         20464|        2016-01-11|  817|                  2016-01-11|
|        2016-01-01|         20454|         20465|        2016-01-12|  577|                  2016-01-12|
|        2016-01-01|         20454|         20466|        2016-01-13|  523|                  2016-01-13|
|        2016-01-01|         20454|         20467|        2016-01-14|  439|                  2016-01-14|
|        2016-01-01|         20454|         20468|        2016-01-15|  602|                  2016-01-15|
|        2016-01-01|         20454|         20469|        2016-01-16|  579|                  2016-01-16|
|        2016-01-01|         20454|         20470|        2016-01-17|  475|                  2016-01-17|
|        2016-01-01|         20454|         20471|        2016-01-18|  333|                  2016-01-18|
|        2016-01-01|         20454|         20472|        2016-01-19|  258|                  2016-01-19|
+------------------+--------------+--------------+------------------+-----+----------------------------+
only showing top 20 rows

In [7]:
# correct the date values in column `st_i94_depdate_iso`
df_st_i94_immigrations = df_st_i94_immigrations \
    .withColumn("st_i94_depdate_iso",
                 when(col("st_i94_depdate_iso") < "2016-01-01", "1900-01-01") \
                .when(col("st_i94_depdate_iso") > "2017-06-14", "1900-01-01") \
                .when(col("st_i94_arrdate_iso") > col("st_i94_depdate_iso"), "1900-01-01")
                .otherwise(col("st_i94_depdate_iso")).cast(DateType()))

In [8]:
df_st_i94_immigrations \
    .groupBy("st_i94_arrdate_iso", "st_i94_arrdate", "st_i94_depdate", "st_i94_depdate_iso") \
    .count() \
    .withColumn("st_i94_depdate_iso_wrong_dates",
                 when(col("st_i94_depdate_iso") < "2016-01-01", "1111-01-01")\
                .when(col("st_i94_depdate_iso") > "2017-06-14", "2222-01-01") \
                .when(col("st_i94_arrdate_iso") > col("st_i94_depdate_iso"), "3333-01-01")
                .otherwise(" ").cast(StringType())) \
    .orderBy("st_i94_depdate_iso_wrong_dates", ascending=False) \
    .show(20)

+------------------+--------------+--------------+------------------+-----+------------------------------+
|st_i94_arrdate_iso|st_i94_arrdate|st_i94_depdate|st_i94_depdate_iso|count|st_i94_depdate_iso_wrong_dates|
+------------------+--------------+--------------+------------------+-----+------------------------------+
|        2016-12-18|         20806|         20798|        1900-01-01|    1|                    1111-01-01|
|        2016-08-25|         20691|         20689|        1900-01-01|    4|                    1111-01-01|
|        2016-07-09|         20644|         20639|        1900-01-01|    1|                    1111-01-01|
|        2016-07-19|         20654|         20647|        1900-01-01|    2|                    1111-01-01|
|        2016-02-29|         20513|         20492|        1900-01-01|    1|                    1111-01-01|
|        2016-09-15|         20712|             0|        1900-01-01| 2106|                    1111-01-01|
|        2016-05-01|         20575|         20547|        1900-01-01|    2|                    1111-01-01|
|        2016-07-09|         20644|         20620|        1900-01-01|    2|                    1111-01-01|
|        2016-09-09|         20706|         20699|        1900-01-01|    1|                    1111-01-01|
|        2016-01-31|         20484|         20475|        1900-01-01|    2|                    1111-01-01|
|        2016-12-09|         20797|         20709|        1900-01-01|    6|                    1111-01-01|
|        2016-01-21|         20474|         20469|        1900-01-01|    1|                    1111-01-01|
|        2016-04-20|         20564|             0|        1900-01-01| 1790|                    1111-01-01|
|        2016-03-08|         20521|         20513|        1900-01-01|    1|                    1111-01-01|
|        2016-07-30|         20665|         20558|        1900-01-01|    1|                    1111-01-01|
|        2016-03-15|         20528|             0|        1900-01-01| 1396|                    1111-01-01|
|        2016-09-20|         20717|         20494|        1900-01-01|    1|                    1111-01-01|
|        2016-11-18|         20776|         20752|        1900-01-01|    1|                    1111-01-01|
|        2016-04-13|         20557|         20528|        1900-01-01|    1|                    1111-01-01|
|        2016-11-24|         20782|         20760|        1900-01-01|    1|                    1111-01-01|
+------------------+--------------+--------------+------------------+-----+------------------------------+
only showing top 20 rows

In [9]:
df_st_i94_immigrations.printSchema()
df_st_i94_immigrations.show(50)

root
 |-- st_i94_cit: integer (nullable = true)
 |-- st_i94_port: string (nullable = true)
 |-- st_i94_addr: string (nullable = true)
 |-- st_i94_arrdate: integer (nullable = true)
 |-- st_i94_arrdate_iso: date (nullable = true)
 |-- st_i94_depdate: integer (nullable = true)
 |-- st_i94_depdate_iso: date (nullable = true)
 |-- st_i94_dtadfile: date (nullable = true)
 |-- st_i94_matflag: string (nullable = true)
 |-- st_i94_count: integer (nullable = true)
 |-- st_i94_id: integer (nullable = true)
 |-- st_i94_port_state_code: string (nullable = true)
 |-- st_i94_year: integer (nullable = true)
 |-- st_i94_month: integer (nullable = true)

+----------+-----------+-----------+--------------+------------------+--------------+------------------+---------------+--------------+------------+---------+----------------------+-----------+------------+
|st_i94_cit|st_i94_port|st_i94_addr|st_i94_arrdate|st_i94_arrdate_iso|st_i94_depdate|st_i94_depdate_iso|st_i94_dtadfile|st_i94_matflag|st_i94_count|st_i94_id|st_i94_port_state_code|st_i94_year|st_i94_month|
+----------+-----------+-----------+--------------+------------------+--------------+------------------+---------------+--------------+------------+---------+----------------------+-----------+------------+
|       254|        DAL|         KY|         20661|        2016-07-26|         20664|        2016-07-29|     2016-07-29|             M|           1|  8643306|                    TX|       2016|           7|
|         0|        HHW|         99|         20636|        2016-07-01|         20713|        2016-09-16|     2016-07-01|             M|           1|  7195726|                    HI|       2016|           7|
|       254|        DAL|         KY|         20661|        2016-07-26|         20670|        2016-08-04|     2016-08-04|             M|           1|  8626942|                    TX|       2016|           7|
|         0|        NYC|         99|         20636|        2016-07-01|         20714|        2016-09-17|     2016-07-01|             M|           1|  7196164|                    NY|       2016|           7|
|       254|        DAL|         KY|         20661|        2016-07-26|         20684|        2016-08-18|     2016-08-18|             M|           1|  8638982|                    TX|       2016|           7|
|         0|        NYC|         99|         20636|        2016-07-01|         20722|        2016-09-25|     2016-07-01|             M|           1|  7198412|                    NY|       2016|           7|
|       254|        DET|         KY|         20661|        2016-07-26|         20675|        2016-08-09|     2016-08-09|             M|           1|  8654236|                    MI|       2016|           7|
|         0|        ATL|         AL|         20636|        2016-07-01|         20708|        2016-09-11|     2016-07-01|             M|           1|  7196958|                    GA|       2016|           7|
|       254|        NYC|         KY|         20661|        2016-07-26|             0|        1900-01-01|     2016-07-26|            NA|           1|  8614304|                    NY|       2016|           7|
|         0|        ATL|         AL|         20636|        2016-07-01|         20711|        2016-09-14|     2016-07-01|             M|           1|  7195904|                    GA|       2016|           7|
|       254|        LOS|         LA|         20661|        2016-07-26|         20669|        2016-08-03|     2016-08-03|             M|           1|  8608420|                    CA|       2016|           7|
|         0|        DAL|         AL|         20636|        2016-07-01|         20714|        2016-09-17|     2016-07-01|             M|           1|  7198786|                    TX|       2016|           7|
|       254|        LOS|         LA|         20661|        2016-07-26|         20680|        2016-08-14|     2016-08-14|             M|           1|  8635412|                    CA|       2016|           7|
|         0|        LOS|         AL|         20636|        2016-07-01|         20686|        2016-08-20|     2016-07-01|             M|           1|  7196906|                    CA|       2016|           7|
|       254|        WAS|         LA|         20661|        2016-07-26|         20670|        2016-08-04|     2016-08-04|             M|           1|  8660498|                    DC|       2016|           7|
|         0|        NYC|         AZ|         20636|        2016-07-01|         20721|        2016-09-24|     2016-07-01|             M|           1|  7195060|                    NY|       2016|           7|
|       254|        AGA|         MA|         20661|        2016-07-26|         20664|        2016-07-29|     2016-07-26|             M|           1|  8640966|                    GU|       2016|           7|
|         0|        BOS|         CA|         20636|        2016-07-01|         20712|        2016-09-15|     2016-07-01|             M|           1|  7198018|                    MA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|             0|        1900-01-01|     2016-07-26|            NA|           1|  8682856|                    MA|       2016|           7|
|         0|        CHI|         CA|         20636|        2016-07-01|         20710|        2016-09-13|     2016-07-01|             M|           1|  7195478|                    IL|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20662|        2016-07-27|     2016-07-27|             M|           1|  8667970|                    MA|       2016|           7|
|         0|        LOS|         CA|         20636|        2016-07-01|         20711|        2016-09-14|     2016-07-01|             M|           1|  7194928|                    CA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20663|        2016-07-28|     2016-07-28|             M|           1|  8638582|                    MA|       2016|           7|
|         0|        LOS|         CA|         20636|        2016-07-01|         20712|        2016-09-15|     2016-07-01|             M|           1|  7197498|                    CA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20665|        2016-07-30|     2016-07-30|             M|           1|  8626200|                    MA|       2016|           7|
|         0|        LOS|         CA|         20636|        2016-07-01|         20713|        2016-09-16|     2016-07-01|             M|           1|  7195750|                    CA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20667|        2016-08-01|     2016-08-01|             M|           1|  8644862|                    MA|       2016|           7|
|         0|        LOS|         CA|         20636|        2016-07-01|         20716|        2016-09-19|     2016-07-01|             M|           1|  7194726|                    CA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20669|        2016-08-03|     2016-08-03|             M|           1|  8681676|                    MA|       2016|           7|
|         0|        LOS|         CA|         20636|        2016-07-01|         20719|        2016-09-22|     2016-07-01|             M|           1|  7194966|                    CA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20671|        2016-08-05|     2016-08-05|             M|           1|  8673630|                    MA|       2016|           7|
|         0|        LOS|         CA|         20636|        2016-07-01|         20720|        2016-09-23|     2016-07-01|             M|           1|  7197952|                    CA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20675|        2016-08-09|     2016-08-09|             M|           1|  8677796|                    MA|       2016|           7|
|         0|        LOS|         CA|         20636|        2016-07-01|         20722|        2016-09-25|     2016-07-01|             M|           1|  7197406|                    CA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20682|        2016-08-16|     2016-08-17|             M|           1|  8623834|                    MA|       2016|           7|
|         0|        LOS|         CA|         20636|        2016-07-01|         20723|        2016-09-26|     2016-07-01|             M|           1|  7195728|                    CA|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20684|        2016-08-18|     2016-08-18|             M|           1|  8623450|                    MA|       2016|           7|
|         0|        LVG|         CA|         20636|        2016-07-01|         20712|        2016-09-15|     2016-07-01|             M|           1|  7195214|                    NV|       2016|           7|
|       254|        BOS|         MA|         20661|        2016-07-26|         20691|        2016-08-25|     2016-08-25|             M|           1|  8653476|                    MA|       2016|           7|
|         0|        NYC|         CA|         20636|        2016-07-01|         20721|        2016-09-24|     2016-07-01|             M|           1|  7196604|                    NY|       2016|           7|
|       254|        DAL|         MA|         20661|        2016-07-26|         20668|        2016-08-02|     2016-08-02|             M|           1|  8637512|                    TX|       2016|           7|
|         0|        SFR|         CA|         20636|        2016-07-01|         20660|        2016-07-25|     2016-07-01|             M|           1|  7198212|                    CA|       2016|           7|
|       254|        DAL|         MA|         20661|        2016-07-26|         20671|        2016-08-05|     2016-08-05|             M|           1|  8622232|                    TX|       2016|           7|
|         0|        SFR|         CA|         20636|        2016-07-01|         20721|        2016-09-24|     2016-07-01|             M|           1|  7197562|                    CA|       2016|           7|
|       254|        DAL|         MA|         20661|        2016-07-26|         20677|        2016-08-11|     2016-08-11|             M|           1|  8638984|                    TX|       2016|           7|
|         0|        DEN|         CO|         20636|        2016-07-01|         20722|        2016-09-25|     2016-07-01|             M|           1|  7195480|                    CO|       2016|           7|
|       254|        DER|         MA|         20661|        2016-07-26|         20663|        2016-07-28|     2016-07-28|             M|           1|  8610428|                    VT|       2016|           7|
|         0|        LOS|         CO|         20636|        2016-07-01|         20712|        2016-09-15|     2016-07-01|             M|           1|  7195560|                    CA|       2016|           7|
|       254|        DER|         MA|         20661|        2016-07-26|         20715|        2016-09-18|     2016-07-26|             M|           1|  8625390|                    VT|       2016|           7|
|         0|        NYC|         CO|         20636|        2016-07-01|         20719|        2016-09-22|     2016-07-01|             M|           1|  7194524|                    NY|       2016|           7|
+----------+-----------+-----------+--------------+------------------+--------------+------------------+---------------+--------------+------------+---------+----------------------+-----------+------------+
only showing top 50 rows

In [10]:
# write st_i94_immigrations back to file system
location_to_write = "../P8_capstone_resource_files/parquet_stage/PQ3/st_i94_immigrations"

# delete folder if already exists
if path.exists(location_to_write):
    shutil.rmtree(location_to_write)

df_st_i94_immigrations \
    .repartition(int(1)) \
    .write \
    .format("parquet")\
    .mode(saveMode='overwrite') \
    .partitionBy('st_i94_year', 'st_i94_month') \
    .parquet(location_to_write, compression="gzip")

3. Update fact table `f_i94_immigrations` based on cleaned column `st_i94_depdate_iso`  values inside

In [11]:
# Read data frames back into memory
# st_i94_immigrations with column `st_i94_port_state_code`:
location_st_i94_immigrations = "../P8_capstone_resource_files/parquet_stage/PQ3/st_i94_immigrations"
df_st_i94_immigrations = spark.read.parquet(location_st_i94_immigrations)

# f_i94_immigrations:
location_f_i94_immigrations = "../P8_capstone_resource_files/parquet_star/PQ2/f_i94_immigrations"
df_f_i94_immigrations = spark.read.parquet(location_f_i94_immigrations)

# show current schemas
print(df_st_i94_immigrations.count())
df_st_i94_immigrations.printSchema()
df_st_i94_immigrations.show(5,False)

print(df_f_i94_immigrations.count())
df_f_i94_immigrations.printSchema()
df_f_i94_immigrations.show(5,False)

12228839
root
 |-- st_i94_cit: integer (nullable = true)
 |-- st_i94_port: string (nullable = true)
 |-- st_i94_addr: string (nullable = true)
 |-- st_i94_arrdate: integer (nullable = true)
 |-- st_i94_arrdate_iso: date (nullable = true)
 |-- st_i94_depdate: integer (nullable = true)
 |-- st_i94_depdate_iso: date (nullable = true)
 |-- st_i94_dtadfile: date (nullable = true)
 |-- st_i94_matflag: string (nullable = true)
 |-- st_i94_count: integer (nullable = true)
 |-- st_i94_id: integer (nullable = true)
 |-- st_i94_port_state_code: string (nullable = true)
 |-- st_i94_year: integer (nullable = true)
 |-- st_i94_month: integer (nullable = true)

+----------+-----------+-----------+--------------+------------------+--------------+------------------+---------------+--------------+------------+---------+----------------------+-----------+------------+
|st_i94_cit|st_i94_port|st_i94_addr|st_i94_arrdate|st_i94_arrdate_iso|st_i94_depdate|st_i94_depdate_iso|st_i94_dtadfile|st_i94_matflag|st_i94_count|st_i94_id|st_i94_port_state_code|st_i94_year|st_i94_month|
+----------+-----------+-----------+--------------+------------------+--------------+------------------+---------------+--------------+------------+---------+----------------------+-----------+------------+
|254       |DAL        |KY         |20661         |2016-07-26        |20664         |2016-07-29        |2016-07-29     |M             |1           |8643306  |TX                    |2016       |7           |
|0         |HHW        |99         |20636         |2016-07-01        |20713         |2016-09-16        |2016-07-01     |M             |1           |7195726  |HI                    |2016       |7           |
|254       |DAL        |KY         |20661         |2016-07-26        |20670         |2016-08-04        |2016-08-04     |M             |1           |8626942  |TX                    |2016       |7           |
|0         |NYC        |99         |20636         |2016-07-01        |20714         |2016-09-17        |2016-07-01     |M             |1           |7196164  |NY                    |2016       |7           |
|254       |DAL        |KY         |20661         |2016-07-26        |20684         |2016-08-18        |2016-08-18     |M             |1           |8638982  |TX                    |2016       |7           |
+----------+-----------+-----------+--------------+------------------+--------------+------------------+---------------+--------------+------------+---------+----------------------+-----------+------------+
only showing top 5 rows

12228839
root
 |-- f_i94_cit: integer (nullable = true)
 |-- f_i94_port: string (nullable = true)
 |-- f_i94_addr: string (nullable = true)
 |-- f_i94_arrdate_iso: date (nullable = true)
 |-- f_i94_depdate_iso: date (nullable = true)
 |-- f_i94_dtadfile: date (nullable = true)
 |-- f_i94_matflag: string (nullable = true)
 |-- f_i94_count: integer (nullable = true)
 |-- f_i94_id: integer (nullable = true)
 |-- d_ic_id: integer (nullable = true)
 |-- d_ia_id: string (nullable = true)
 |-- d_da_id: date (nullable = true)
 |-- d_dd_id: date (nullable = true)
 |-- f_i94_port_state_code: string (nullable = true)
 |-- d_sd_id: string (nullable = true)
 |-- f_i94_year: integer (nullable = true)
 |-- f_i94_month: integer (nullable = true)

+---------+----------+----------+-----------------+-----------------+--------------+-------------+-----------+--------+-------+-------+----------+----------+---------------------+-------+----------+-----------+
|f_i94_cit|f_i94_port|f_i94_addr|f_i94_arrdate_iso|f_i94_depdate_iso|f_i94_dtadfile|f_i94_matflag|f_i94_count|f_i94_id|d_ic_id|d_ia_id|d_da_id   |d_dd_id   |f_i94_port_state_code|d_sd_id|f_i94_year|f_i94_month|
+---------+----------+----------+-----------------+-----------------+--------------+-------------+-----------+--------+-------+-------+----------+----------+---------------------+-------+----------+-----------+
|0        |SFR       |CA        |2016-07-20       |2016-09-23       |2016-07-20    |M            |1          |7194720 |0      |SFR    |2016-07-20|2016-09-23|CA                   |CA     |2016      |7          |
|0        |STT       |VQ        |2016-07-31       |1900-01-01       |2016-07-31    |NA           |1          |7194986 |0      |STT    |2016-07-31|1900-01-01|VI                   |VQ     |2016      |7          |
|0        |DEN       |CA        |2016-07-11       |2016-09-16       |2016-07-11    |M            |1          |7194820 |0      |DEN    |2016-07-11|2016-09-16|CO                   |CA     |2016      |7          |
|0        |TAM       |FL        |2016-07-29       |1900-01-01       |2016-07-29    |NA           |1          |7196142 |0      |TAM    |2016-07-29|1900-01-01|FL                   |FL     |2016      |7          |
|0        |NYC       |AZ        |2016-07-01       |2016-09-24       |2016-07-01    |M            |1          |7195060 |0      |NYC    |2016-07-01|2016-09-24|NY                   |AZ     |2016      |7          |
+---------+----------+----------+-----------------+-----------------+--------------+-------------+-----------+--------+-------+-------+----------+----------+---------------------+-------+----------+-----------+
only showing top 5 rows

In [12]:
# add column 'st_i94_depdate_iso' to fact table 'f_i94_immigrations'
df_st_i94_immigrations_2_join = df_st_i94_immigrations \
    .select("st_i94_id" , "st_i94_depdate_iso")

In [13]:
df_st_i94_immigrations_2_join.select("st_i94_id").printSchema()
df_f_i94_immigrations.select("f_i94_id").printSchema()
df_st_i94_immigrations_2_join.select("st_i94_id").filter("st_i94_id == 8987702").show()
df_f_i94_immigrations.select("f_i94_id").filter("f_i94_id == 8987702").show(1)

root
 |-- st_i94_id: integer (nullable = true)

root
 |-- f_i94_id: integer (nullable = true)

+---------+
|st_i94_id|
+---------+
|  8987702|
+---------+

+--------+
|f_i94_id|
+--------+
| 8987702|
+--------+

In [14]:
"""
Check that there are no null values in columns to join! Otherwise you can run out of memory!
A hint came from

https://medium.com/@yhoso/resolving-weird-spark-errors-f34324943e1c
-->An error occurred while calling o64.cacheTable. or An error occurred while calling o206.showString
"""
# check whether there are still zero values in the result data frame
df_st_i94_immigrations_2_join\
    .select([count( when(col(c).isNull(), c) )
            .alias(c) for c in df_st_i94_immigrations_2_join.columns])\
    .toPandas().T

                    0
st_i94_id           0
st_i94_depdate_iso  0

In [15]:
df_f_i94_immigrations\
    .select([count( when(col(c).isNull(), c) )
            .alias(c) for c in df_f_i94_immigrations.columns])\
    .toPandas().T

                       0
f_i94_cit              0
f_i94_port             0
f_i94_addr             0
f_i94_arrdate_iso      0
f_i94_depdate_iso      0
f_i94_dtadfile         0
f_i94_matflag          0
f_i94_count            0
f_i94_id               0
d_ic_id                0
d_ia_id                0
d_da_id                0
d_dd_id                0
f_i94_port_state_code  1
d_sd_id                0
f_i94_year             0
f_i94_month            0

In [16]:
# fill up null values with NA
df_f_i94_immigrations = df_f_i94_immigrations.fillna(value='NA', subset=['f_i94_port_state_code'])

In [17]:
df_f_i94_immigrations\
    .select([count( when(col(c).isNull(), c) )
            .alias(c) for c in df_f_i94_immigrations.columns])\
    .toPandas().T

                       0
f_i94_cit              0
f_i94_port             0
f_i94_addr             0
f_i94_arrdate_iso      0
f_i94_depdate_iso      0
f_i94_dtadfile         0
f_i94_matflag          0
f_i94_count            0
f_i94_id               0
d_ic_id                0
d_ia_id                0
d_da_id                0
d_dd_id                0
f_i94_port_state_code  0
d_sd_id                0
f_i94_year             0
f_i94_month            0

In [18]:
# .coalesce(5) --> split df in partitions
df_f_i94_immigrations = df_f_i94_immigrations \
    .coalesce(5) \
    .join(df_st_i94_immigrations_2_join, F.col("st_i94_id") == F.col("f_i94_id")
          , 'inner') \
    .withColumn("f_i94_depdate_iso", col("st_i94_depdate_iso")) \
    .drop("st_i94_id", "st_i94_depdate_iso")

In [19]:
# update column 'd_dd_id' with newly updated values from column 'f_i94_depdate_iso'
df_f_i94_immigrations = df_f_i94_immigrations \
    .withColumn("d_dd_id", col("f_i94_depdate_iso"))

In [20]:
# check again if values of referencing column "d_dd_id" are equal to column "f_i94_depdate_iso"
df_f_i94_immigrations \
    .filter(col("d_dd_id") != col("f_i94_depdate_iso")) \
    .groupBy("d_dd_id", "f_i94_depdate_iso") \
    .count() \
    .orderBy("d_dd_id") \
    .show(5)

+-------+-----------------+-----+
|d_dd_id|f_i94_depdate_iso|count|
+-------+-----------------+-----+
+-------+-----------------+-----+

In [23]:
# write st_i94_immigrations back to file system
location_to_write = "../P8_capstone_resource_files/parquet_star/PQ3/f_i94_immigrations"

# delete folder if already exists
if path.exists(location_to_write):
    shutil.rmtree(location_to_write)

In [24]:
df_f_i94_immigrations \
    .repartition(1) \
    .write \
    .format("parquet")\
    .mode(saveMode='overwrite')\
    .partitionBy('f_i94_year', 'f_i94_month') \
    .parquet(location_to_write, compression="gzip")

4. Generate new date staging tables (`st_date_arrivals`, `st_date_departures`) based on default, min and max values

In [26]:
# Create new data frame with date series
def generate_dates(spark,range_list, dt_col="date_time_ref", interval=60*60*24): # TODO: attention to sparkSession
    """
    ...     Create a Spark DataFrame with a single column named dt_col and a range of date within a specified interval
            (start and stop included).
    ...     With hourly data, dates end at 23 of stop day
    ...     (https://stackoverflow.com/questions/57537760/pyspark-how-to-generate-a-dataframe-composed-of-datetime-range)
    ...
    ...     :param spark: SparkSession or sqlContext depending on environment (server vs local)
    ...     :param range_list: array of strings formatted as "2018-01-20" or "2018-01-20 00:00:00"
    ...     :param interval: number of seconds (frequency), output from get_freq()
    ...     :param dt_col: string with date column name. Date column must be TimestampType
    ...
    ...     :returns: df from range
    ...     """
    start,stop = range_list
    temp_df = spark.createDataFrame([(start, stop)], ("start", "stop"))
    temp_df = temp_df.select([F.col(c).cast("timestamp") for c in ("start", "stop")])
    temp_df = temp_df.withColumn("stop",F.date_add("stop",1).cast("timestamp"))
    temp_df = temp_df.select([F.col(c).cast("long") for c in ("start", "stop")])
    start, stop = temp_df.first()
    return spark.range(start,stop,interval).select(F.col("id").cast("timestamp").cast("date").alias(dt_col))

In [27]:
# Create new staging tables 'st_date_arrivals' and 'st_date_departure' with min and max date values
location_to_read = "../P8_capstone_resource_files/parquet_star/PQ3/f_i94_immigrations"
df_f_i94_immigrations = spark.read.parquet(location_to_read)

print(df_f_i94_immigrations.count())
df_f_i94_immigrations.printSchema()

12228839
root
 |-- f_i94_cit: integer (nullable = true)
 |-- f_i94_port: string (nullable = true)
 |-- f_i94_addr: string (nullable = true)
 |-- f_i94_arrdate_iso: date (nullable = true)
 |-- f_i94_depdate_iso: date (nullable = true)
 |-- f_i94_dtadfile: date (nullable = true)
 |-- f_i94_matflag: string (nullable = true)
 |-- f_i94_count: integer (nullable = true)
 |-- f_i94_id: integer (nullable = true)
 |-- d_ic_id: integer (nullable = true)
 |-- d_ia_id: string (nullable = true)
 |-- d_da_id: date (nullable = true)
 |-- d_dd_id: date (nullable = true)
 |-- f_i94_port_state_code: string (nullable = true)
 |-- d_sd_id: string (nullable = true)
 |-- f_i94_year: integer (nullable = true)
 |-- f_i94_month: integer (nullable = true)

In [28]:
# check if all date values from "f_i94_arrdate_iso" are valid
df_f_i94_immigrations\
    .groupBy("f_i94_arrdate_iso")\
    .count()\
    .orderBy("f_i94_arrdate_iso")\
    .show(5000)

+-----------------+-----+
|f_i94_arrdate_iso|count|
+-----------------+-----+
|       2016-01-01|23410|
|       2016-01-02|23665|
|       2016-01-03|27009|
|       2016-01-04|29974|
|       2016-01-05|28897|
|       2016-01-06|28712|
|       2016-01-07|30191|
|       2016-01-08|31174|
|       2016-01-09|33442|
|       2016-01-10|36234|
|       2016-01-11|33429|
|       2016-01-12|28912|
|       2016-01-13|27789|
|       2016-01-14|27549|
|       2016-01-15|30710|
|       2016-01-16|33242|
|       2016-01-17|33987|
|       2016-01-18|32927|
|       2016-01-19|27734|
|       2016-01-20|26643|
|       2016-01-21|25519|
|       2016-01-22|25669|
|       2016-01-23|22433|
|       2016-01-24|27801|
|       2016-01-25|28365|
|       2016-01-26|21440|
|       2016-01-27|20802|
|       2016-01-28|20396|
|       2016-01-29|23002|
|       2016-01-30|27172|
|       2016-01-31|27740|
|       2016-02-01|28419|
|       2016-02-02|23660|
|       2016-02-03|23306|
|       2016-02-04|23656|
|       2016-02-05|25748|
|       2016-02-06|27993|
|       2016-02-07|27634|
|       2016-02-08|25341|
|       2016-02-09|21370|
|       2016-02-10|23045|
|       2016-02-11| 9998|
|       2016-02-12|25031|
|       2016-02-13|27093|
|       2016-02-14|27125|
|       2016-02-15|27472|
|       2016-02-16|22551|
|       2016-02-17|23052|
|       2016-02-18|11259|
|       2016-02-19|24454|
|       2016-02-20|26884|
|       2016-02-21|27110|
|       2016-02-22|25121|
|       2016-02-23|20604|
|       2016-02-24|21309|
|       2016-02-25|22494|
|       2016-02-26|24415|
|       2016-02-27|26588|
|       2016-02-28|28316|
|       2016-02-29|25531|
|       2016-03-01|26760|
|       2016-03-02|25596|
|       2016-03-03|26493|
|       2016-03-04|30293|
|       2016-03-05|30749|
|       2016-03-06|31483|
|       2016-03-07|28219|
|       2016-03-08|24374|
|       2016-03-09|25887|
|       2016-03-10|29182|
|       2016-03-11|31287|
|       2016-03-12|33919|
|       2016-03-13|35333|
|       2016-03-14|31780|
|       2016-03-15|30793|
|       2016-03-16|31635|
|       2016-03-17|32171|
|       2016-03-18|31904|
|       2016-03-19|32755|
|       2016-03-20|34163|
|       2016-03-21|32664|
|       2016-03-22|29970|
|       2016-03-23|30780|
|       2016-03-24|31842|
|       2016-03-25|32114|
|       2016-03-26|27967|
|       2016-03-27|29710|
|       2016-03-28|30692|
|       2016-03-29|30420|
|       2016-03-30|28922|
|       2016-03-31|29174|
|       2016-04-01|34872|
|       2016-04-02|34980|
|       2016-04-03|34943|
|       2016-04-04|33947|
|       2016-04-05|32015|
|       2016-04-06|32198|
|       2016-04-07|34188|
|       2016-04-08|32564|
|       2016-04-09|33555|
|       2016-04-10|35114|
|       2016-04-11|35116|
|       2016-04-12|32473|
|       2016-04-13|35252|
|       2016-04-14|37636|
|       2016-04-15|39070|
|       2016-04-16|41425|
|       2016-04-17|38984|
|       2016-04-18|36174|
|       2016-04-19|30963|
|       2016-04-20|30985|
|       2016-04-21|31927|
|       2016-04-22|32799|
|       2016-04-23|34433|
|       2016-04-24|33872|
|       2016-04-25|32759|
|       2016-04-26|34109|
|       2016-04-27|33879|
|       2016-04-28|35742|
|       2016-04-29|38955|
|       2016-04-30|37823|
|       2016-05-01|34487|
|       2016-05-02|35279|
|       2016-05-03|32876|
|       2016-05-04|33618|
|       2016-05-05|36514|
|       2016-05-06|34149|
|       2016-05-07|35446|
|       2016-05-08|34739|
|       2016-05-09|34052|
|       2016-05-10|32632|
|       2016-05-11|33631|
|       2016-05-12|36250|
|       2016-05-13|34502|
|       2016-05-14|36645|
|       2016-05-15|36113|
|       2016-05-16|34605|
|       2016-05-17|32485|
|       2016-05-18|32953|
|       2016-05-19|33954|
|       2016-05-20|36246|
|       2016-05-21|37538|
|       2016-05-22|34427|
|       2016-05-23|32095|
|       2016-05-24|29351|
|       2016-05-25|32073|
|       2016-05-26|32251|
|       2016-05-27|31125|
|       2016-05-28|32334|
|       2016-05-29|29185|
|       2016-05-30|30516|
|       2016-05-31|30049|
|       2016-06-01|36090|
|       2016-06-02|35441|
|       2016-06-03|35746|
|       2016-06-04|37530|
|       2016-06-05|36540|
|       2016-06-06|35117|
|       2016-06-07|32505|
|       2016-06-08|32761|
|       2016-06-09|33847|
|       2016-06-10|35291|
|       2016-06-11|36445|
|       2016-06-12|35884|
|       2016-06-13|34167|
|       2016-06-14|32905|
|       2016-06-15|35360|
|       2016-06-16|35049|
|       2016-06-17|35156|
|       2016-06-18|37646|
|       2016-06-19|37426|
|       2016-06-20|37759|
|       2016-06-21|35441|
|       2016-06-22|34626|
|       2016-06-23|36417|
|       2016-06-24|37586|
|       2016-06-25|38275|
|       2016-06-26|36699|
|       2016-06-27|35125|
|       2016-06-28|37936|
|       2016-06-29|38502|
|       2016-06-30|41376|
|       2016-07-01|43395|
|       2016-07-02|40850|
|       2016-07-03|38038|
|       2016-07-04|36292|
|       2016-07-05|36621|
|       2016-07-06|38304|
|       2016-07-07|41009|
|       2016-07-08|40951|
|       2016-07-09|42250|
|       2016-07-10|41179|
|       2016-07-11|41041|
|       2016-07-12|39288|
|       2016-07-13|39088|
|       2016-07-14|40960|
|       2016-07-15|42189|
|       2016-07-16|41506|
|       2016-07-17|40609|
|       2016-07-18|40208|
|       2016-07-19|39293|
|       2016-07-20|46743|
|       2016-07-21|48185|
|       2016-07-22|48916|
|       2016-07-23|49171|
|       2016-07-24|48028|
|       2016-07-25|47361|
|       2016-07-26|38863|
|       2016-07-27|46409|
|       2016-07-28|48358|
|       2016-07-29|49141|
|       2016-07-30|49066|
|       2016-07-31|45662|
|       2016-08-01|49269|
|       2016-08-02|44452|
|       2016-08-03|39191|
|       2016-08-04|46963|
|       2016-08-05|44889|
|       2016-08-06|39447|
|       2016-08-07|38139|
|       2016-08-08|36773|
|       2016-08-09|36104|
|       2016-08-10|38874|
|       2016-08-11|37219|
|       2016-08-12|38770|
|       2016-08-13|38573|
|       2016-08-14|35887|
|       2016-08-15|36345|
|       2016-08-16|36520|
|       2016-08-17|36840|
|       2016-08-18|36908|
|       2016-08-19|38352|
|       2016-08-20|38615|
|       2016-08-21|37573|
|       2016-08-22|36005|
|       2016-08-23|34904|
|       2016-08-24|34596|
|       2016-08-25|35094|
|       2016-08-26|35143|
|       2016-08-27|35315|
|       2016-08-28|32711|
|       2016-08-29|32009|
|       2016-08-30|29087|
|       2016-08-31|29888|
|       2016-09-01|43083|
|       2016-09-02|40509|
|       2016-09-03|41188|
|       2016-09-04|37103|
|       2016-09-05|38871|
|       2016-09-06|37258|
|       2016-09-07|37439|
|       2016-09-08|39131|
|       2016-09-09|39030|
|       2016-09-10|40923|
|       2016-09-11|40441|
|       2016-09-12|40000|
|       2016-09-13|36813|
|       2016-09-14|36833|
|       2016-09-15|38771|
|       2016-09-16|38300|
|       2016-09-17|39979|
|       2016-09-18|39545|
|       2016-09-19|37625|
|       2016-09-20|35312|
|       2016-09-21|33970|
|       2016-09-22|34757|
|       2016-09-23|35241|
|       2016-09-24|38041|
|       2016-09-25|37552|
|       2016-09-26|35694|
|       2016-09-27|31999|
|       2016-09-28|32237|
|       2016-09-29|34060|
|       2016-09-30|33540|
|       2016-10-01|37414|
|       2016-10-02|37948|
|       2016-10-03|36534|
|       2016-10-04|35196|
|       2016-10-05|34323|
|       2016-10-06|31752|
|       2016-10-07|33320|
|       2016-10-08|37255|
|       2016-10-09|35976|
|       2016-10-10|35108|
|       2016-10-11|31382|
|       2016-10-12|31729|
|       2016-10-13|33317|
|       2016-10-14|35157|
|       2016-10-15|37193|
|       2016-10-16|37217|
|       2016-10-17|35044|
|       2016-10-18|31762|
|       2016-10-19|31325|
|       2016-10-20|34162|
|       2016-10-21|33789|
|       2016-10-22|35061|
|       2016-10-23|35061|
|       2016-10-24|32327|
|       2016-10-25|30789|
|       2016-10-26|30155|
|       2016-10-27|30577|
|       2016-10-28|31756|
|       2016-10-29|35146|
|       2016-10-30|31846|
|       2016-10-31|31136|
|       2016-11-01|32066|
|       2016-11-02|30462|
|       2016-11-03|28693|
|       2016-11-04|30233|
|       2016-11-05|36420|
|       2016-11-06|36502|
|       2016-11-07|33775|
|       2016-11-08|29928|
|       2016-11-09|31381|
|       2016-11-10|34476|
|       2016-11-11|36288|
|       2016-11-12|37895|
|       2016-11-13|35765|
|       2016-11-14|32760|
|       2016-11-15|30148|
|       2016-11-16|30852|
|       2016-11-17|30676|
|       2016-11-18|28491|
|       2016-11-19|29258|
|       2016-11-20|27025|
|       2016-11-21|25276|
|       2016-11-22|24625|
|       2016-11-23|26236|
|       2016-11-24|24467|
|       2016-11-25|25033|
|       2016-11-26|27279|
|       2016-11-27|29236|
|       2016-11-28|29105|
|       2016-11-29|24800|
|       2016-11-30|25653|
|       2016-12-01|28236|
|       2016-12-02|26612|
|       2016-12-03|29280|
|       2016-12-04|29722|
|       2016-12-05|28246|
|       2016-12-06|24401|
|       2016-12-07|25596|
|       2016-12-08|26640|
|       2016-12-09|26926|
|       2016-12-10|34028|
|       2016-12-11|30116|
|       2016-12-12|30360|
|       2016-12-13|28527|
|       2016-12-14|32293|
|       2016-12-15|36392|
|       2016-12-16|37106|
|       2016-12-17|36474|
|       2016-12-18|37019|
|       2016-12-19|38245|
|       2016-12-20|40469|
|       2016-12-21|38106|
|       2016-12-22|38328|
|       2016-12-23|40349|
|       2016-12-24|35064|
|       2016-12-25|30077|
|       2016-12-26|34701|
|       2016-12-27|33533|
|       2016-12-28|31937|
|       2016-12-29|30461|
|       2016-12-30|28924|
|       2016-12-31|23337|
+-----------------+-----+

In [29]:
# Get min and max values for "f_i94_arrdate"
f_i94_arrdate_iso_min, f_i94_arrdate_iso_max =  df_f_i94_immigrations \
    .select(F.min("f_i94_arrdate_iso").alias("f_i94_arrdate_iso_min"), \
            F.max("f_i94_arrdate_iso").alias("f_i94_arrdate_iso_max")) \
    .first()


print(f"f_i94_arrdate_iso_min: {f_i94_arrdate_iso_min}")
print(f"f_i94_arrdate_iso_max: {f_i94_arrdate_iso_max}")

f_i94_arrdate_iso_min: 2016-01-01
f_i94_arrdate_iso_max: 2016-12-31

In [30]:
# create new staging table "st_date_arrivals"
date_range = [f_i94_arrdate_iso_min, f_i94_arrdate_iso_max]
dt_col="st_da_date"
df_st_date_arrivals = generate_dates(spark, date_range, dt_col)

df_st_date_arrivals.printSchema()
df_st_date_arrivals.head(5)

root
 |-- st_da_date: date (nullable = false)

[Row(st_da_date=datetime.date(2016, 1, 1)),
 Row(st_da_date=datetime.date(2016, 1, 2)),
 Row(st_da_date=datetime.date(2016, 1, 3)),
 Row(st_da_date=datetime.date(2016, 1, 4)),
 Row(st_da_date=datetime.date(2016, 1, 5))]

In [31]:
df_st_date_arrivals.tail(5)

[Row(st_da_date=datetime.date(2016, 12, 27)),
 Row(st_da_date=datetime.date(2016, 12, 28)),
 Row(st_da_date=datetime.date(2016, 12, 29)),
 Row(st_da_date=datetime.date(2016, 12, 30)),
 Row(st_da_date=datetime.date(2016, 12, 31))]

5. Append date specific columns to staging tables, create a dimension from it and save it to the file system.

In [32]:
# create new columns of st_date_arrivals table
# https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

df_st_date_arrivals = df_st_date_arrivals \
    .withColumn("st_da_id", col("st_da_date")) \
    .withColumn("st_da_year", F.year(col("st_da_date"))) \
    .withColumn("st_da_year_quarter", F.concat_ws('/', F.year(col("st_da_date")), F.quarter(col("st_da_date")))) \
    .withColumn("st_da_year_month", F.concat_ws('/', F.year(col("st_da_date")), F.month(col("st_da_date")))) \
    .withColumn("st_da_year_month", F.concat_ws('/', F.year(col("st_da_date")), date_format(col("st_da_date"), 'MM'))) \
    .withColumn("st_da_quarter", F.quarter(col("st_da_date"))) \
    .withColumn("st_da_month", F.month(col("st_da_date"))) \
    .withColumn("st_da_week", F.weekofyear(col("st_da_date"))) \
    .withColumn("st_da_weekday", F.date_format(col("st_da_date"),'EEEE')) \
    .withColumn("st_da_weekday_short", F.date_format(col("st_da_date"),'EEE')) \
    .withColumn("st_da_dayofweek", F.dayofweek(col("st_da_date"))) \
    .withColumn("st_da_day", F.dayofmonth(col("st_da_date")) )

df_st_date_arrivals.printSchema()
df_st_date_arrivals.show(5)

root
 |-- st_da_date: date (nullable = false)
 |-- st_da_id: date (nullable = false)
 |-- st_da_year: integer (nullable = false)
 |-- st_da_year_quarter: string (nullable = false)
 |-- st_da_year_month: string (nullable = false)
 |-- st_da_quarter: integer (nullable = false)
 |-- st_da_month: integer (nullable = false)
 |-- st_da_week: integer (nullable = false)
 |-- st_da_weekday: string (nullable = false)
 |-- st_da_weekday_short: string (nullable = false)
 |-- st_da_dayofweek: integer (nullable = false)
 |-- st_da_day: integer (nullable = false)

+----------+----------+----------+------------------+----------------+-------------+-----------+----------+-------------+-------------------+---------------+---------+
|st_da_date|  st_da_id|st_da_year|st_da_year_quarter|st_da_year_month|st_da_quarter|st_da_month|st_da_week|st_da_weekday|st_da_weekday_short|st_da_dayofweek|st_da_day|
+----------+----------+----------+------------------+----------------+-------------+-----------+----------+-------------+-------------------+---------------+---------+
|2016-01-01|2016-01-01|      2016|            2016/1|         2016/01|            1|          1|        53|       Friday|                Fri|              6|        1|
|2016-01-02|2016-01-02|      2016|            2016/1|         2016/01|            1|          1|        53|     Saturday|                Sat|              7|        2|
|2016-01-03|2016-01-03|      2016|            2016/1|         2016/01|            1|          1|        53|       Sunday|                Sun|              1|        3|
|2016-01-04|2016-01-04|      2016|            2016/1|         2016/01|            1|          1|         1|       Monday|                Mon|              2|        4|
|2016-01-05|2016-01-05|      2016|            2016/1|         2016/01|            1|          1|         1|      Tuesday|                Tue|              3|        5|
+----------+----------+----------+------------------+----------------+-------------+-----------+----------+-------------+-------------------+---------------+---------+
only showing top 5 rows

In [33]:
# persist staging time table 'st_date_arrivals'
location_to_write = "../P8_capstone_resource_files/parquet_stage/PQ3/st_date_arrivals"

# delete folder if already exists
if path.exists(location_to_write):
    shutil.rmtree(location_to_write)

df_st_date_arrivals \
    .repartition(int(1)) \
    .write \
    .format("parquet")\
    .mode(saveMode='overwrite') \
    .parquet(location_to_write, compression="gzip")

In [34]:
# create dimension 'd_date_arrivals' from staging table 'st_date_arrivals'
location_to_read = "../P8_capstone_resource_files/parquet_stage/PQ3/st_date_arrivals"
df_st_date_arrivals = spark.read.parquet(location_to_read)

print(df_st_date_arrivals.count())
df_st_date_arrivals.printSchema()

df_st_date_arrivals = df_st_date_arrivals \
    .withColumnRenamed("st_da_date", "d_da_date") \
    .withColumnRenamed("st_da_id", "d_da_id") \
    .withColumnRenamed("st_da_year", "d_da_year") \
    .withColumnRenamed("st_da_year_quarter", "d_da_year_quarter") \
    .withColumnRenamed("st_da_year_month", "d_da_year_month") \
    .withColumnRenamed("st_da_quarter", "d_da_quarter") \
    .withColumnRenamed("st_da_month", "d_da_month") \
    .withColumnRenamed("st_da_week", "d_da_week") \
    .withColumnRenamed("st_da_weekday", "d_da_weekday") \
    .withColumnRenamed("st_da_weekday_short", "d_da_weekday_short") \
    .withColumnRenamed("st_da_dayofweek", "d_da_dayofweek") \
    .withColumnRenamed("st_da_day", "d_da_day") \

df_st_date_arrivals.printSchema()
df_st_date_arrivals.show(5)


location_to_write = "../P8_capstone_resource_files/parquet_star/PQ3/d_date_arrivals"

# delete folder if already exists
if path.exists(location_to_write):
    shutil.rmtree(location_to_write)

df_st_date_arrivals \
    .repartition(int(1)) \
    .write \
    .format("parquet")\
    .mode(saveMode='overwrite') \
    .parquet(location_to_write, compression="gzip")

366
root
 |-- st_da_date: date (nullable = true)
 |-- st_da_id: date (nullable = true)
 |-- st_da_year: integer (nullable = true)
 |-- st_da_year_quarter: string (nullable = true)
 |-- st_da_year_month: string (nullable = true)
 |-- st_da_quarter: integer (nullable = true)
 |-- st_da_month: integer (nullable = true)
 |-- st_da_week: integer (nullable = true)
 |-- st_da_weekday: string (nullable = true)
 |-- st_da_weekday_short: string (nullable = true)
 |-- st_da_dayofweek: integer (nullable = true)
 |-- st_da_day: integer (nullable = true)

root
 |-- d_da_date: date (nullable = true)
 |-- d_da_id: date (nullable = true)
 |-- d_da_year: integer (nullable = true)
 |-- d_da_year_quarter: string (nullable = true)
 |-- d_da_year_month: string (nullable = true)
 |-- d_da_quarter: integer (nullable = true)
 |-- d_da_month: integer (nullable = true)
 |-- d_da_week: integer (nullable = true)
 |-- d_da_weekday: string (nullable = true)
 |-- d_da_weekday_short: string (nullable = true)
 |-- d_da_dayofweek: integer (nullable = true)
 |-- d_da_day: integer (nullable = true)

+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
| d_da_date|   d_da_id|d_da_year|d_da_year_quarter|d_da_year_month|d_da_quarter|d_da_month|d_da_week|d_da_weekday|d_da_weekday_short|d_da_dayofweek|d_da_day|
+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
|2016-01-01|2016-01-01|     2016|           2016/1|        2016/01|           1|         1|       53|      Friday|               Fri|             6|       1|
|2016-01-02|2016-01-02|     2016|           2016/1|        2016/01|           1|         1|       53|    Saturday|               Sat|             7|       2|
|2016-01-03|2016-01-03|     2016|           2016/1|        2016/01|           1|         1|       53|      Sunday|               Sun|             1|       3|
|2016-01-04|2016-01-04|     2016|           2016/1|        2016/01|           1|         1|        1|      Monday|               Mon|             2|       4|
|2016-01-05|2016-01-05|     2016|           2016/1|        2016/01|           1|         1|        1|     Tuesday|               Tue|             3|       5|
+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
only showing top 5 rows

In [35]:
# Creation of the second dimension named `d_date_departures` based on fact column `f_i94_depdate_iso`.
# Create new staging table 'st_date_departure' with min, max and default date values
location_to_read = "../P8_capstone_resource_files/parquet_star/PQ3/f_i94_immigrations"
df_f_i94_immigrations = spark.read.parquet(location_to_read)

print(df_f_i94_immigrations.count())
df_f_i94_immigrations.printSchema()

12228839
root
 |-- f_i94_cit: integer (nullable = true)
 |-- f_i94_port: string (nullable = true)
 |-- f_i94_addr: string (nullable = true)
 |-- f_i94_arrdate_iso: date (nullable = true)
 |-- f_i94_depdate_iso: date (nullable = true)
 |-- f_i94_dtadfile: date (nullable = true)
 |-- f_i94_matflag: string (nullable = true)
 |-- f_i94_count: integer (nullable = true)
 |-- f_i94_id: integer (nullable = true)
 |-- d_ic_id: integer (nullable = true)
 |-- d_ia_id: string (nullable = true)
 |-- d_da_id: date (nullable = true)
 |-- d_dd_id: date (nullable = true)
 |-- f_i94_port_state_code: string (nullable = true)
 |-- d_sd_id: string (nullable = true)
 |-- f_i94_year: integer (nullable = true)
 |-- f_i94_month: integer (nullable = true)

In [36]:
# check if all date values from "f_i94_depdate_iso" are valid
df_f_i94_immigrations\
    .groupBy("f_i94_depdate_iso")\
    .count()\
    .orderBy("f_i94_depdate_iso")\
    .show(5000)

+-----------------+-------+
|f_i94_depdate_iso|  count|
+-----------------+-------+
|       1900-01-01|1004028|
|       2016-01-02|   1089|
|       2016-01-03|   2073|
|       2016-01-04|   2552|
|       2016-01-05|   3339|
|       2016-01-06|   4415|
|       2016-01-07|   6061|
|       2016-01-08|   8682|
|       2016-01-09|  10346|
|       2016-01-10|  11739|
|       2016-01-11|  10111|
|       2016-01-12|   9934|
|       2016-01-13|  11472|
|       2016-01-14|  13767|
|       2016-01-15|  16892|
|       2016-01-16|  16578|
|       2016-01-17|  15290|
|       2016-01-18|  12871|
|       2016-01-19|  11538|
|       2016-01-20|  13869|
|       2016-01-21|  16529|
|       2016-01-22|  20039|
|       2016-01-23|  17967|
|       2016-01-24|  17568|
|       2016-01-25|  16841|
|       2016-01-26|  15086|
|       2016-01-27|  16466|
|       2016-01-28|  19092|
|       2016-01-29|  22176|
|       2016-01-30|  22846|
|       2016-01-31|  20686|
|       2016-02-01|  17054|
|       2016-02-02|  15302|
|       2016-02-03|  17052|
|       2016-02-04|  19626|
|       2016-02-05|  22576|
|       2016-02-06|  22317|
|       2016-02-07|  19607|
|       2016-02-08|  17624|
|       2016-02-09|  16828|
|       2016-02-10|  19142|
|       2016-02-11|  20233|
|       2016-02-12|  22703|
|       2016-02-13|  23078|
|       2016-02-14|  21220|
|       2016-02-15|  19989|
|       2016-02-16|  17780|
|       2016-02-17|  19141|
|       2016-02-18|  20912|
|       2016-02-19|  23670|
|       2016-02-20|  24657|
|       2016-02-21|  20726|
|       2016-02-22|  17687|
|       2016-02-23|  16546|
|       2016-02-24|  17516|
|       2016-02-25|  20889|
|       2016-02-26|  24631|
|       2016-02-27|  24850|
|       2016-02-28|  22737|
|       2016-02-29|  20931|
|       2016-03-01|  17302|
|       2016-03-02|  18510|
|       2016-03-03|  22010|
|       2016-03-04|  25427|
|       2016-03-05|  26128|
|       2016-03-06|  23747|
|       2016-03-07|  20127|
|       2016-03-08|  18808|
|       2016-03-09|  20083|
|       2016-03-10|  23623|
|       2016-03-11|  25951|
|       2016-03-12|  26355|
|       2016-03-13|  23756|
|       2016-03-14|  21609|
|       2016-03-15|  21296|
|       2016-03-16|  21532|
|       2016-03-17|  22928|
|       2016-03-18|  26321|
|       2016-03-19|  27117|
|       2016-03-20|  25964|
|       2016-03-21|  23595|
|       2016-03-22|  21632|
|       2016-03-23|  21978|
|       2016-03-24|  22809|
|       2016-03-25|  24491|
|       2016-03-26|  25838|
|       2016-03-27|  28422|
|       2016-03-28|  26582|
|       2016-03-29|  24442|
|       2016-03-30|  24729|
|       2016-03-31|  26091|
|       2016-04-01|  25305|
|       2016-04-02|  28065|
|       2016-04-03|  28532|
|       2016-04-04|  25718|
|       2016-04-05|  22348|
|       2016-04-06|  23286|
|       2016-04-07|  25923|
|       2016-04-08|  28957|
|       2016-04-09|  29975|
|       2016-04-10|  29821|
|       2016-04-11|  25727|
|       2016-04-12|  23805|
|       2016-04-13|  23778|
|       2016-04-14|  28538|
|       2016-04-15|  31264|
|       2016-04-16|  31186|
|       2016-04-17|  29754|
|       2016-04-18|  26815|
|       2016-04-19|  24855|
|       2016-04-20|  27182|
|       2016-04-21|  29276|
|       2016-04-22|  31459|
|       2016-04-23|  32183|
|       2016-04-24|  29615|
|       2016-04-25|  27487|
|       2016-04-26|  25179|
|       2016-04-27|  25866|
|       2016-04-28|  29784|
|       2016-04-29|  32319|
|       2016-04-30|  35648|
|       2016-05-01|  32029|
|       2016-05-02|  28816|
|       2016-05-03|  26326|
|       2016-05-04|  26195|
|       2016-05-05|  30081|
|       2016-05-06|  31822|
|       2016-05-07|  33388|
|       2016-05-08|  32197|
|       2016-05-09|  28183|
|       2016-05-10|  28215|
|       2016-05-11|  26339|
|       2016-05-12|  29225|
|       2016-05-13|  30557|
|       2016-05-14|  32785|
|       2016-05-15|  32631|
|       2016-05-16|  29430|
|       2016-05-17|  28345|
|       2016-05-18|  28087|
|       2016-05-19|  30265|
|       2016-05-20|  33032|
|       2016-05-21|  33718|
|       2016-05-22|  32389|
|       2016-05-23|  31966|
|       2016-05-24|  30127|
|       2016-05-25|  29806|
|       2016-05-26|  31162|
|       2016-05-27|  31477|
|       2016-05-28|  32871|
|       2016-05-29|  33305|
|       2016-05-30|  31594|
|       2016-05-31|  29887|
|       2016-06-01|  27083|
|       2016-06-02|  28946|
|       2016-06-03|  29393|
|       2016-06-04|  31105|
|       2016-06-05|  31185|
|       2016-06-06|  29248|
|       2016-06-07|  26405|
|       2016-06-08|  27976|
|       2016-06-09|  29740|
|       2016-06-10|  31490|
|       2016-06-11|  31957|
|       2016-06-12|  31217|
|       2016-06-13|  28732|
|       2016-06-14|  28357|
|       2016-06-15|  29295|
|       2016-06-16|  29862|
|       2016-06-17|  30287|
|       2016-06-18|  31619|
|       2016-06-19|  30910|
|       2016-06-20|  28874|
|       2016-06-21|  27067|
|       2016-06-22|  27373|
|       2016-06-23|  29225|
|       2016-06-24|  30821|
|       2016-06-25|  32923|
|       2016-06-26|  32081|
|       2016-06-27|  30491|
|       2016-06-28|  29022|
|       2016-06-29|  29660|
|       2016-06-30|  33644|
|       2016-07-01|  29612|
|       2016-07-02|  32471|
|       2016-07-03|  30801|
|       2016-07-04|  25972|
|       2016-07-05|  28783|
|       2016-07-06|  29000|
|       2016-07-07|  29514|
|       2016-07-08|  29740|
|       2016-07-09|  32980|
|       2016-07-10|  33730|
|       2016-07-11|  30613|
|       2016-07-12|  30363|
|       2016-07-13|  29415|
|       2016-07-14|  33093|
|       2016-07-15|  35333|
|       2016-07-16|  36850|
|       2016-07-17|  35737|
|       2016-07-18|  32734|
|       2016-07-19|  31502|
|       2016-07-20|  33337|
|       2016-07-21|  34026|
|       2016-07-22|  36216|
|       2016-07-23|  39873|
|       2016-07-24|  39006|
|       2016-07-25|  36517|
|       2016-07-26|  32973|
|       2016-07-27|  37310|
|       2016-07-28|  40176|
|       2016-07-29|  42528|
|       2016-07-30|  46305|
|       2016-07-31|  46589|
|       2016-08-01|  42809|
|       2016-08-02|  40091|
|       2016-08-03|  39974|
|       2016-08-04|  42256|
|       2016-08-05|  44567|
|       2016-08-06|  47137|
|       2016-08-07|  45399|
|       2016-08-08|  42491|
|       2016-08-09|  39282|
|       2016-08-10|  41356|
|       2016-08-11|  41181|
|       2016-08-12|  41655|
|       2016-08-13|  47443|
|       2016-08-14|  46216|
|       2016-08-15|  44844|
|       2016-08-16|  39483|
|       2016-08-17|  38415|
|       2016-08-18|  40740|
|       2016-08-19|  40222|
|       2016-08-20|  47456|
|       2016-08-21|  44260|
|       2016-08-22|  41593|
|       2016-08-23|  37895|
|       2016-08-24|  37393|
|       2016-08-25|  41089|
|       2016-08-26|  41001|
|       2016-08-27|  44788|
|       2016-08-28|  44054|
|       2016-08-29|  40897|
|       2016-08-30|  39809|
|       2016-08-31|  39100|
|       2016-09-01|  35162|
|       2016-09-02|  35471|
|       2016-09-03|  41237|
|       2016-09-04|  38336|
|       2016-09-05|  37592|
|       2016-09-06|  32127|
|       2016-09-07|  31192|
|       2016-09-08|  33517|
|       2016-09-09|  33576|
|       2016-09-10|  39160|
|       2016-09-11|  35157|
|       2016-09-12|  33088|
|       2016-09-13|  29129|
|       2016-09-14|  31590|
|       2016-09-15|  37041|
|       2016-09-16|  37019|
|       2016-09-17|  39440|
|       2016-09-18|  37784|
|       2016-09-19|  31732|
|       2016-09-20|  31145|
|       2016-09-21|  28634|
|       2016-09-22|  32199|
|       2016-09-23|  34345|
|       2016-09-24|  36198|
|       2016-09-25|  33809|
|       2016-09-26|  30509|
|       2016-09-27|  28439|
|       2016-09-28|  30146|
|       2016-09-29|  34803|
|       2016-09-30|  38007|
|       2016-10-01|  36661|
|       2016-10-02|  33251|
|       2016-10-03|  29405|
|       2016-10-04|  27341|
|       2016-10-05|  27706|
|       2016-10-06|  28141|
|       2016-10-07|  30621|
|       2016-10-08|  33925|
|       2016-10-09|  32255|
|       2016-10-10|  31965|
|       2016-10-11|  28158|
|       2016-10-12|  28166|
|       2016-10-13|  29694|
|       2016-10-14|  32735|
|       2016-10-15|  34610|
|       2016-10-16|  32309|
|       2016-10-17|  29544|
|       2016-10-18|  27395|
|       2016-10-19|  26512|
|       2016-10-20|  30900|
|       2016-10-21|  31996|
|       2016-10-22|  32826|
|       2016-10-23|  31304|
|       2016-10-24|  28439|
|       2016-10-25|  27846|
|       2016-10-26|  27775|
|       2016-10-27|  30829|
|       2016-10-28|  33355|
|       2016-10-29|  33743|
|       2016-10-30|  31777|
|       2016-10-31|  29750|
|       2016-11-01|  26132|
|       2016-11-02|  27134|
|       2016-11-03|  28769|
|       2016-11-04|  30828|
|       2016-11-05|  32074|
|       2016-11-06|  31391|
|       2016-11-07|  27107|
|       2016-11-08|  24738|
|       2016-11-09|  25207|
|       2016-11-10|  28312|
|       2016-11-11|  27221|
|       2016-11-12|  27848|
|       2016-11-13|  22006|
|       2016-11-14|  23193|
|       2016-11-15|  26913|
|       2016-11-16|  28174|
|       2016-11-17|  30911|
|       2016-11-18|  31823|
|       2016-11-19|  33704|
|       2016-11-20|  32207|
|       2016-11-21|  27508|
|       2016-11-22|  22980|
|       2016-11-23|  21133|
|       2016-11-24|  19690|
|       2016-11-25|  21064|
|       2016-11-26|  27103|
|       2016-11-27|  27803|
|       2016-11-28|  26584|
|       2016-11-29|  25497|
|       2016-11-30|  28361|
|       2016-12-01|  26148|
|       2016-12-02|  27456|
|       2016-12-03|  29482|
|       2016-12-04|  27364|
|       2016-12-05|  25169|
|       2016-12-06|  23586|
|       2016-12-07|  24443|
|       2016-12-08|  25458|
|       2016-12-09|  27396|
|       2016-12-10|  29457|
|       2016-12-11|  27625|
|       2016-12-12|  26144|
|       2016-12-13|  24148|
|       2016-12-14|  24402|
|       2016-12-15|  25539|
|       2016-12-16|  25353|
|       2016-12-17|  24115|
|       2016-12-18|  24695|
|       2016-12-19|  24455|
|       2016-12-20|  24867|
|       2016-12-21|  23614|
|       2016-12-22|  22715|
|       2016-12-23|  21495|
|       2016-12-24|  16692|
|       2016-12-25|  15227|
|       2016-12-26|  19561|
|       2016-12-27|  23613|
|       2016-12-28|  26144|
|       2016-12-29|  28070|
|       2016-12-30|  27667|
|       2016-12-31|  24534|
|       2017-01-01|  28986|
|       2017-01-02|  33628|
|       2017-01-03|  32956|
|       2017-01-04|  31877|
|       2017-01-05|  31052|
|       2017-01-06|  28563|
|       2017-01-07|  27995|
|       2017-01-08|  28484|
|       2017-01-09|  25129|
|       2017-01-10|  22200|
|       2017-01-11|  19237|
|       2017-01-12|  17099|
|       2017-01-13|  14807|
|       2017-01-14|  17579|
|       2017-01-15|  17602|
|       2017-01-16|  14866|
|       2017-01-17|  12014|
|       2017-01-18|  11342|
|       2017-01-19|  10070|
|       2017-01-20|  10328|
|       2017-01-21|  10719|
|       2017-01-22|  10011|
|       2017-01-23|   8873|
|       2017-01-24|   7661|
|       2017-01-25|   7975|
|       2017-01-26|   6999|
|       2017-01-27|   6089|
|       2017-01-28|   7974|
|       2017-01-29|   7618|
|       2017-01-30|   7588|
|       2017-01-31|   7431|
|       2017-02-01|   6056|
|       2017-02-02|   5603|
|       2017-02-03|   5122|
|       2017-02-04|   6190|
|       2017-02-05|   6072|
|       2017-02-06|   5041|
|       2017-02-07|   4478|
|       2017-02-08|   4691|
|       2017-02-09|   3967|
|       2017-02-10|   4529|
|       2017-02-11|   5082|
|       2017-02-12|   5161|
|       2017-02-13|   4399|
|       2017-02-14|   3843|
|       2017-02-15|   5209|
|       2017-02-16|   4162|
|       2017-02-17|   3862|
|       2017-02-18|   4714|
|       2017-02-19|   4562|
|       2017-02-20|   4830|
|       2017-02-21|   3929|
|       2017-02-22|   4484|
|       2017-02-23|   4270|
|       2017-02-24|   4054|
|       2017-02-25|   5695|
|       2017-02-26|   5259|
|       2017-02-27|   4913|
|       2017-02-28|   6146|
|       2017-03-01|   4994|
|       2017-03-02|   4385|
|       2017-03-03|   3716|
|       2017-03-04|   4639|
|       2017-03-05|   4730|
|       2017-03-06|   3993|
|       2017-03-07|   3519|
|       2017-03-08|   3948|
|       2017-03-09|   3855|
|       2017-03-10|   3582|
|       2017-03-11|   3969|
|       2017-03-12|   4002|
|       2017-03-13|   3554|
|       2017-03-14|   2806|
|       2017-03-15|   4620|
|       2017-03-16|   3776|
|       2017-03-17|   3430|
|       2017-03-18|   3799|
|       2017-03-19|   3645|
|       2017-03-20|   3659|
|       2017-03-21|   2963|
|       2017-03-22|   3136|
|       2017-03-23|   3053|
|       2017-03-24|   2766|
|       2017-03-25|   3659|
|       2017-03-26|   3318|
|       2017-03-27|   2860|
|       2017-03-28|   3156|
|       2017-03-29|   3171|
|       2017-03-30|   3404|
|       2017-03-31|   3148|
|       2017-04-01|   3140|
|       2017-04-02|   2966|
|       2017-04-03|   2651|
|       2017-04-04|   2520|
|       2017-04-05|   2659|
|       2017-04-06|   2319|
|       2017-04-07|   1998|
|       2017-04-08|   2503|
|       2017-04-09|   2392|
|       2017-04-10|   2595|
|       2017-04-11|   2299|
|       2017-04-12|   2381|
|       2017-04-13|   2246|
|       2017-04-14|   1899|
|       2017-04-15|   2188|
|       2017-04-16|   1691|
|       2017-04-17|   1660|
|       2017-04-18|   1979|
|       2017-04-19|   1960|
|       2017-04-20|   2340|
|       2017-04-21|   1759|
|       2017-04-22|   2068|
|       2017-04-23|   1906|
|       2017-04-24|   1878|
|       2017-04-25|   2218|
|       2017-04-26|   2099|
|       2017-04-27|   2251|
|       2017-04-28|   2183|
|       2017-04-29|   2671|
|       2017-04-30|   2600|
|       2017-05-01|   1783|
|       2017-05-02|   1912|
|       2017-05-03|   2010|
|       2017-05-04|   1906|
|       2017-05-05|   1917|
|       2017-05-06|   2017|
|       2017-05-07|   1873|
|       2017-05-08|   1781|
|       2017-05-09|   1774|
|       2017-05-10|   2201|
|       2017-05-11|   1898|
|       2017-05-12|   1660|
|       2017-05-13|   1771|
|       2017-05-14|   1853|
|       2017-05-15|   2021|
|       2017-05-16|   1866|
|       2017-05-17|   1831|
|       2017-05-18|   1827|
|       2017-05-19|   1528|
|       2017-05-20|   1844|
|       2017-05-21|   1650|
|       2017-05-22|   1542|
|       2017-05-23|   1551|
|       2017-05-24|   1500|
|       2017-05-25|   1612|
|       2017-05-26|   1446|
|       2017-05-27|   1659|
|       2017-05-28|   1658|
|       2017-05-29|   1463|
|       2017-05-30|   1551|
|       2017-05-31|   1608|
|       2017-06-01|   1511|
|       2017-06-02|   1170|
|       2017-06-03|   1290|
|       2017-06-04|   1221|
|       2017-06-05|   1226|
|       2017-06-06|   1221|
|       2017-06-07|   1142|
|       2017-06-08|   1183|
|       2017-06-09|    972|
|       2017-06-10|   1276|
|       2017-06-11|   1143|
|       2017-06-12|   1092|
|       2017-06-13|    857|
|       2017-06-14|     54|
+-----------------+-------+

In [37]:
# extract default, min and max date from column 'f_i94_depdate_iso'
# get default and min value
f_i94_depdate_iso_default, f_i94_depdate_iso_min = df_f_i94_immigrations\
    .select("f_i94_depdate_iso") \
    .distinct() \
    .orderBy("f_i94_depdate_iso", ascending=True) \
    .limit(2) \
    .select(F.min("f_i94_depdate_iso").alias("f_i94_depdate_iso_default"),
            F.max("f_i94_depdate_iso").alias("f_i94_depdate_iso_min")) \
    .first()

# get max value
f_i94_depdate_iso_max, f_i94_depdate_iso_max =  df_f_i94_immigrations \
    .select(F.max("f_i94_depdate_iso").alias("f_i94_depdate_iso_max"), \
            F.max("f_i94_depdate_iso").alias("f_i94_depdate_iso_max")) \
    .first()

# check selected data
print(f"f_i94_depdate_iso_default: {f_i94_depdate_iso_default}")
print(f"f_i94_depdate_iso_min: {f_i94_depdate_iso_min}")
print(f"f_i94_depdate_iso_max: {f_i94_depdate_iso_max}")

f_i94_depdate_iso_default: 1900-01-01
f_i94_depdate_iso_min: 2016-01-02
f_i94_depdate_iso_max: 2017-06-14

In [38]:
# create new staging table "st_date_departures"
date_range_default = [f_i94_depdate_iso_default, f_i94_depdate_iso_default]
date_range_min_max = [f_i94_depdate_iso_min, f_i94_depdate_iso_max]

# check valid date ranges
print(date_range_default)
print(date_range_min_max)

# create new data frames for
dt_col="st_dd_date"
df_st_date_departures_default = generate_dates(spark, date_range_default, dt_col)
df_st_date_departures_min_max = generate_dates(spark, date_range_min_max, dt_col)

[datetime.date(1900, 1, 1), datetime.date(1900, 1, 1)]
[datetime.date(2016, 1, 2), datetime.date(2017, 6, 14)]

In [39]:
# combine both data frames to append `1900-01-01` to all other dates
df_st_date_departures = df_st_date_departures_default.union(df_st_date_departures_min_max)

In [40]:
df_st_date_departures.printSchema()
df_st_date_departures.head(5)

root
 |-- st_dd_date: date (nullable = false)

[Row(st_dd_date=datetime.date(1900, 1, 1)),
 Row(st_dd_date=datetime.date(2016, 1, 2)),
 Row(st_dd_date=datetime.date(2016, 1, 3)),
 Row(st_dd_date=datetime.date(2016, 1, 4)),
 Row(st_dd_date=datetime.date(2016, 1, 5))]

In [41]:
df_st_date_departures.tail(5)

[Row(st_dd_date=datetime.date(2017, 6, 10)),
 Row(st_dd_date=datetime.date(2017, 6, 11)),
 Row(st_dd_date=datetime.date(2017, 6, 12)),
 Row(st_dd_date=datetime.date(2017, 6, 13)),
 Row(st_dd_date=datetime.date(2017, 6, 14))]

In [42]:
# Append date specific columns to staging table `st_date_departures`.
# create new columns of st_date_departures table
# https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

df_st_date_departures = df_st_date_departures \
    .withColumn("st_dd_id", col("st_dd_date")) \
    .withColumn("st_dd_year", F.year(col("st_dd_date"))) \
    .withColumn("st_dd_year_quarter", F.concat_ws('/', F.year(col("st_dd_date")), F.quarter(col("st_dd_date")))) \
    .withColumn("st_dd_year_month", F.concat_ws('/', F.year(col("st_dd_date")), date_format(col("st_dd_date"), "MM")) )\
    .withColumn("st_dd_quarter", F.quarter(col("st_dd_date"))) \
    .withColumn("st_dd_month", F.month("st_dd_date")) \
    .withColumn("st_dd_week", F.weekofyear(col("st_dd_date"))) \
    .withColumn("st_dd_weekday", F.date_format(col("st_dd_date"),'EEEE')) \
    .withColumn("st_dd_weekday_short", F.date_format(col("st_dd_date"),'EEE')) \
    .withColumn("st_dd_dayofweek", F.dayofweek(col("st_dd_date"))) \
    .withColumn("st_dd_day", F.dayofmonth(col("st_dd_date")) )

In [43]:
# get prepared staging table
df_st_date_departures.printSchema()
df_st_date_departures.show(5)

root
 |-- st_dd_date: date (nullable = false)
 |-- st_dd_id: date (nullable = false)
 |-- st_dd_year: integer (nullable = false)
 |-- st_dd_year_quarter: string (nullable = false)
 |-- st_dd_year_month: string (nullable = false)
 |-- st_dd_quarter: integer (nullable = false)
 |-- st_dd_month: integer (nullable = false)
 |-- st_dd_week: integer (nullable = false)
 |-- st_dd_weekday: string (nullable = false)
 |-- st_dd_weekday_short: string (nullable = false)
 |-- st_dd_dayofweek: integer (nullable = false)
 |-- st_dd_day: integer (nullable = false)

+----------+----------+----------+------------------+----------------+-------------+-----------+----------+-------------+-------------------+---------------+---------+
|st_dd_date|  st_dd_id|st_dd_year|st_dd_year_quarter|st_dd_year_month|st_dd_quarter|st_dd_month|st_dd_week|st_dd_weekday|st_dd_weekday_short|st_dd_dayofweek|st_dd_day|
+----------+----------+----------+------------------+----------------+-------------+-----------+----------+-------------+-------------------+---------------+---------+
|1900-01-01|1900-01-01|      1900|            1900/1|         1900/01|            1|          1|         1|       Monday|                Mon|              2|        1|
|2016-01-02|2016-01-02|      2016|            2016/1|         2016/01|            1|          1|        53|     Saturday|                Sat|              7|        2|
|2016-01-03|2016-01-03|      2016|            2016/1|         2016/01|            1|          1|        53|       Sunday|                Sun|              1|        3|
|2016-01-04|2016-01-04|      2016|            2016/1|         2016/01|            1|          1|         1|       Monday|                Mon|              2|        4|
|2016-01-05|2016-01-05|      2016|            2016/1|         2016/01|            1|          1|         1|      Tuesday|                Tue|              3|        5|
+----------+----------+----------+------------------+----------------+-------------+-----------+----------+-------------+-------------------+---------------+---------+
only showing top 5 rows

In [44]:
# persist staging time table 'st_date_departures'
location_to_write = "../P8_capstone_resource_files/parquet_stage/PQ3/st_date_deaprtures"

# delete folder if already exists
if path.exists(location_to_write):
    shutil.rmtree(location_to_write)

df_st_date_departures \
    .repartition(int(1)) \
    .write \
    .format("parquet")\
    .mode(saveMode='overwrite') \
    .parquet(location_to_write, compression="gzip")

In [45]:
# create dimension 'd_date_arrivals' from staging table 'st_date_arrivals'
location_to_read = "../P8_capstone_resource_files/parquet_stage/PQ3/st_date_deaprtures"
df_st_date_departures = spark.read.parquet(location_to_read)

print(df_st_date_departures.count())
df_st_date_departures.printSchema()


df_st_date_departures = df_st_date_departures \
    .withColumnRenamed("st_dd_date", "d_dd_date") \
    .withColumnRenamed("st_dd_id", "d_dd_id") \
    .withColumnRenamed("st_dd_year", "d_dd_year") \
    .withColumnRenamed("st_dd_year_quarter", "d_dd_year_quarter") \
    .withColumnRenamed("st_dd_year_month", "d_dd_year_month") \
    .withColumnRenamed("st_dd_quarter", "d_dd_quarter") \
    .withColumnRenamed("st_dd_month", "d_dd_month") \
    .withColumnRenamed("st_dd_week", "d_dd_week") \
    .withColumnRenamed("st_dd_weekday", "d_dd_weekday") \
    .withColumnRenamed("st_dd_weekday_short", "d_dd_weekday_short") \
    .withColumnRenamed("st_dd_dayofweek", "d_dd_dayofweek") \
    .withColumnRenamed("st_dd_day", "d_dd_day") \

df_st_date_departures.printSchema()
df_st_date_departures.show(5)


location_to_write = "../P8_capstone_resource_files/parquet_star/PQ3/d_date_departures"

# delete folder if already exists
if path.exists(location_to_write):
    shutil.rmtree(location_to_write)

df_st_date_departures \
    .repartition(int(1)) \
    .write \
    .format("parquet")\
    .mode(saveMode='overwrite') \
    .parquet(location_to_write, compression="gzip")

531
root
 |-- st_dd_date: date (nullable = true)
 |-- st_dd_id: date (nullable = true)
 |-- st_dd_year: integer (nullable = true)
 |-- st_dd_year_quarter: string (nullable = true)
 |-- st_dd_year_month: string (nullable = true)
 |-- st_dd_quarter: integer (nullable = true)
 |-- st_dd_month: integer (nullable = true)
 |-- st_dd_week: integer (nullable = true)
 |-- st_dd_weekday: string (nullable = true)
 |-- st_dd_weekday_short: string (nullable = true)
 |-- st_dd_dayofweek: integer (nullable = true)
 |-- st_dd_day: integer (nullable = true)

root
 |-- d_dd_date: date (nullable = true)
 |-- d_dd_id: date (nullable = true)
 |-- d_dd_year: integer (nullable = true)
 |-- d_dd_year_quarter: string (nullable = true)
 |-- d_dd_year_month: string (nullable = true)
 |-- d_dd_quarter: integer (nullable = true)
 |-- d_dd_month: integer (nullable = true)
 |-- d_dd_week: integer (nullable = true)
 |-- d_dd_weekday: string (nullable = true)
 |-- d_dd_weekday_short: string (nullable = true)
 |-- d_dd_dayofweek: integer (nullable = true)
 |-- d_dd_day: integer (nullable = true)

+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
| d_dd_date|   d_dd_id|d_dd_year|d_dd_year_quarter|d_dd_year_month|d_dd_quarter|d_dd_month|d_dd_week|d_dd_weekday|d_dd_weekday_short|d_dd_dayofweek|d_dd_day|
+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
|1900-01-01|1900-01-01|     1900|           1900/1|        1900/01|           1|         1|        1|      Monday|               Mon|             2|       1|
|2016-01-02|2016-01-02|     2016|           2016/1|        2016/01|           1|         1|       53|    Saturday|               Sat|             7|       2|
|2016-01-03|2016-01-03|     2016|           2016/1|        2016/01|           1|         1|       53|      Sunday|               Sun|             1|       3|
|2016-01-04|2016-01-04|     2016|           2016/1|        2016/01|           1|         1|        1|      Monday|               Mon|             2|       4|
|2016-01-05|2016-01-05|     2016|           2016/1|        2016/01|           1|         1|        1|     Tuesday|               Tue|             3|       5|
+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
only showing top 5 rows

6. Map dimension `d_date_arrivals` to  fact table `f_i94_immigration` based on columns
   (`st_date_arrivals.st_da_date` --> `d_date_arrivals.d_da_id`) == (`st_i94_immigration.st_i94_arrdate_iso` -->
   `f_i94_immigration.d_da_id`).

7. Map dimension `d_date_departures` to  fact table `f_i94_immigration` based on columns
   (`st_date_departures.st_dd_date` --> `d_date_departures.d_dd_id`) == (`st_i94_immigration.st_i94_depdate_iso` -->
   `f_i94_immigration.d_dd_id`).

8. Answer Project Question 3: At what times do foreign persons arrive for immigration to the U.S.?

In [46]:
# reload fact table
location_to_read = "../P8_capstone_resource_files/parquet_star/PQ3/f_i94_immigrations"
df_f_i94_immigrations = spark.read.parquet(location_to_read)
print(df_f_i94_immigrations.count())
df_f_i94_immigrations.printSchema()
df_f_i94_immigrations.show(5, False)

location_to_read = "../P8_capstone_resource_files/parquet_star/PQ3/d_date_arrivals"
df_d_date_arrivals = spark.read.parquet(location_to_read)
print(df_d_date_arrivals.count())
df_d_date_arrivals.printSchema()
df_d_date_arrivals.show(5, False)

location_to_read = "../P8_capstone_resource_files/parquet_star/PQ3/d_date_departures"
df_d_date_departures = spark.read.parquet(location_to_read)
print(df_d_date_departures.count())
df_d_date_departures.printSchema()
df_d_date_departures.show(5, False)

12228839
root
 |-- f_i94_cit: integer (nullable = true)
 |-- f_i94_port: string (nullable = true)
 |-- f_i94_addr: string (nullable = true)
 |-- f_i94_arrdate_iso: date (nullable = true)
 |-- f_i94_depdate_iso: date (nullable = true)
 |-- f_i94_dtadfile: date (nullable = true)
 |-- f_i94_matflag: string (nullable = true)
 |-- f_i94_count: integer (nullable = true)
 |-- f_i94_id: integer (nullable = true)
 |-- d_ic_id: integer (nullable = true)
 |-- d_ia_id: string (nullable = true)
 |-- d_da_id: date (nullable = true)
 |-- d_dd_id: date (nullable = true)
 |-- f_i94_port_state_code: string (nullable = true)
 |-- d_sd_id: string (nullable = true)
 |-- f_i94_year: integer (nullable = true)
 |-- f_i94_month: integer (nullable = true)

+---------+----------+----------+-----------------+-----------------+--------------+-------------+-----------+--------+-------+-------+----------+----------+---------------------+-------+----------+-----------+
|f_i94_cit|f_i94_port|f_i94_addr|f_i94_arrdate_iso|f_i94_depdate_iso|f_i94_dtadfile|f_i94_matflag|f_i94_count|f_i94_id|d_ic_id|d_ia_id|d_da_id   |d_dd_id   |f_i94_port_state_code|d_sd_id|f_i94_year|f_i94_month|
+---------+----------+----------+-----------------+-----------------+--------------+-------------+-----------+--------+-------+-------+----------+----------+---------------------+-------+----------+-----------+
|0        |SFR       |CA        |2016-07-20       |2016-09-23       |2016-07-20    |M            |1          |7194720 |0      |SFR    |2016-07-20|2016-09-23|CA                   |CA     |2016      |7          |
|0        |STT       |VQ        |2016-07-31       |1900-01-01       |2016-07-31    |NA           |1          |7194986 |0      |STT    |2016-07-31|1900-01-01|VI                   |VQ     |2016      |7          |
|0        |DEN       |CA        |2016-07-11       |2016-09-16       |2016-07-11    |M            |1          |7194820 |0      |DEN    |2016-07-11|2016-09-16|CO                   |CA     |2016      |7          |
|0        |TAM       |FL        |2016-07-29       |1900-01-01       |2016-07-29    |NA           |1          |7196142 |0      |TAM    |2016-07-29|1900-01-01|FL                   |FL     |2016      |7          |
|0        |NYC       |AZ        |2016-07-01       |2016-09-24       |2016-07-01    |M            |1          |7195060 |0      |NYC    |2016-07-01|2016-09-24|NY                   |AZ     |2016      |7          |
+---------+----------+----------+-----------------+-----------------+--------------+-------------+-----------+--------+-------+-------+----------+----------+---------------------+-------+----------+-----------+
only showing top 5 rows

366
root
 |-- d_da_date: date (nullable = true)
 |-- d_da_id: date (nullable = true)
 |-- d_da_year: integer (nullable = true)
 |-- d_da_year_quarter: string (nullable = true)
 |-- d_da_year_month: string (nullable = true)
 |-- d_da_quarter: integer (nullable = true)
 |-- d_da_month: integer (nullable = true)
 |-- d_da_week: integer (nullable = true)
 |-- d_da_weekday: string (nullable = true)
 |-- d_da_weekday_short: string (nullable = true)
 |-- d_da_dayofweek: integer (nullable = true)
 |-- d_da_day: integer (nullable = true)

+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
|d_da_date |d_da_id   |d_da_year|d_da_year_quarter|d_da_year_month|d_da_quarter|d_da_month|d_da_week|d_da_weekday|d_da_weekday_short|d_da_dayofweek|d_da_day|
+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
|2016-01-01|2016-01-01|2016     |2016/1           |2016/01        |1           |1         |53       |Friday      |Fri               |6             |1       |
|2016-01-02|2016-01-02|2016     |2016/1           |2016/01        |1           |1         |53       |Saturday    |Sat               |7             |2       |
|2016-01-03|2016-01-03|2016     |2016/1           |2016/01        |1           |1         |53       |Sunday      |Sun               |1             |3       |
|2016-01-04|2016-01-04|2016     |2016/1           |2016/01        |1           |1         |1        |Monday      |Mon               |2             |4       |
|2016-01-05|2016-01-05|2016     |2016/1           |2016/01        |1           |1         |1        |Tuesday     |Tue               |3             |5       |
+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
only showing top 5 rows

531
root
 |-- d_dd_date: date (nullable = true)
 |-- d_dd_id: date (nullable = true)
 |-- d_dd_year: integer (nullable = true)
 |-- d_dd_year_quarter: string (nullable = true)
 |-- d_dd_year_month: string (nullable = true)
 |-- d_dd_quarter: integer (nullable = true)
 |-- d_dd_month: integer (nullable = true)
 |-- d_dd_week: integer (nullable = true)
 |-- d_dd_weekday: string (nullable = true)
 |-- d_dd_weekday_short: string (nullable = true)
 |-- d_dd_dayofweek: integer (nullable = true)
 |-- d_dd_day: integer (nullable = true)

+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
|d_dd_date |d_dd_id   |d_dd_year|d_dd_year_quarter|d_dd_year_month|d_dd_quarter|d_dd_month|d_dd_week|d_dd_weekday|d_dd_weekday_short|d_dd_dayofweek|d_dd_day|
+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
|1900-01-01|1900-01-01|1900     |1900/1           |1900/01        |1           |1         |1        |Monday      |Mon               |2             |1       |
|2016-01-02|2016-01-02|2016     |2016/1           |2016/01        |1           |1         |53       |Saturday    |Sat               |7             |2       |
|2016-01-03|2016-01-03|2016     |2016/1           |2016/01        |1           |1         |53       |Sunday      |Sun               |1             |3       |
|2016-01-04|2016-01-04|2016     |2016/1           |2016/01        |1           |1         |1        |Monday      |Mon               |2             |4       |
|2016-01-05|2016-01-05|2016     |2016/1           |2016/01        |1           |1         |1        |Tuesday     |Tue               |3             |5       |
+----------+----------+---------+-----------------+---------------+------------+----------+---------+------------+------------------+--------------+--------+
only showing top 5 rows

In [47]:
# Register data frames as Views
df_f_i94_immigrations.createOrReplaceTempView("f_i94_immigrations")
df_d_date_arrivals.createOrReplaceTempView("d_date_arrivals")
df_d_date_departures.createOrReplaceTempView("d_date_departures")

8. Answer Project Question 3.1: At what times do foreign persons arrive for immigration to the U.S.?

In [48]:
# SQL to answer Project Question 3.1: At what times do foreign persons arrive for immigration to the U.S.?
df_pq3_1 = spark.sql("select da.d_da_year_month as Year_Month"
                     "      ,count(f_i94.f_i94_count) as  Immigrants"
                     "      ,RANK() OVER (ORDER BY count(f_i94.f_i94_count) desc) Immigrants_rank"
                     "  from f_i94_immigrations f_i94"
                     "  join d_date_arrivals da on da.d_da_id = f_i94.d_da_id  "
                     " group by Year_Month "
                     " order by Year_Month  "
                     )

df_pq3_1.show(20, False)

df_pq3_11 = spark.sql("select da.d_da_year_month as Year_Month"
                     "      ,count(f_i94.f_i94_count) as  Immigrants"
                     "      ,RANK() OVER (ORDER BY count(f_i94.f_i94_count) desc) Immigrants_rank"
                     "  from f_i94_immigrations f_i94"
                     "  join d_date_arrivals da on da.d_da_id = f_i94.d_da_id  "
                     " group by Year_Month "
                     " order by Immigrants_rank  "
                     )

df_pq3_11.show(20, False)

+----------+----------+---------------+
|Year_Month|Immigrants|Immigrants_rank|
+----------+----------+---------------+
|2016/01   |865969    |11             |
|2016/02   |696579    |12             |
|2016/03   |939031    |9              |
|2016/04   |1042752   |6              |
|2016/05   |1042120   |7              |
|2016/06   |1080648   |4              |
|2016/07   |1328974   |1              |
|2016/08   |1160455   |2              |
|2016/09   |1125245   |3              |
|2016/10   |1050757   |5              |
|2016/11   |904804    |10             |
|2016/12   |991505    |8              |
+----------+----------+---------------+

+----------+----------+---------------+
|Year_Month|Immigrants|Immigrants_rank|
+----------+----------+---------------+
|2016/07   |1328974   |1              |
|2016/08   |1160455   |2              |
|2016/09   |1125245   |3              |
|2016/06   |1080648   |4              |
|2016/10   |1050757   |5              |
|2016/04   |1042752   |6              |
|2016/05   |1042120   |7              |
|2016/12   |991505    |8              |
|2016/03   |939031    |9              |
|2016/11   |904804    |10             |
|2016/01   |865969    |11             |
|2016/02   |696579    |12             |
+----------+----------+---------------+

9. Answer Project Question 3.2: When a foreign person comes to the U.S. for immigration, do they travel on to
   another state?

In [49]:
# SQL to answer Project Question 3.2: When a foreign person comes to the U.S. for immigration, do they travel on to
# another state?
df_pq3_2 = spark.sql("select da.d_da_year_month as Year_Month_arrival"
                     "      ,dd.d_dd_year_month as Year_Month_dearture"
                     "      ,count(f_i94.f_i94_count) as Immigrants "
                     "  from f_i94_immigrations f_i94"
                     "  join d_date_arrivals da on da.d_da_id = f_i94.d_da_id  "
                     " left join d_date_departures dd on dd.d_dd_id = f_i94.d_dd_id  "
                     " group by Year_Month_arrival, Year_Month_dearture"
                     " order by Year_Month_arrival, Year_Month_dearture, Immigrants"
                     )

df_pq3_2.show(5000, False)

+------------------+-------------------+----------+
|Year_Month_arrival|Year_Month_dearture|Immigrants|
+------------------+-------------------+----------+
|2016/01           |1900/01            |153706    |
|2016/01           |2016/01            |387914    |
|2016/01           |2016/02            |226693    |
|2016/01           |2016/03            |80526     |
|2016/01           |2016/04            |17130     |
|2016/02           |1900/01            |66130     |
|2016/02           |2016/02            |360331    |
|2016/02           |2016/03            |205680    |
|2016/02           |2016/04            |40169     |
|2016/02           |2016/05            |24269     |
|2016/03           |1900/01            |48596     |
|2016/03           |2016/03            |442997    |
|2016/03           |2016/04            |260733    |
|2016/03           |2016/05            |76461     |
|2016/03           |2016/06            |48895     |
|2016/03           |2016/07            |24286     |
|2016/03           |2016/08            |23094     |
|2016/03           |2016/09            |13969     |
|2016/04           |1900/01            |55991     |
|2016/04           |2016/04            |521618    |
|2016/04           |2016/05            |321031    |
|2016/04           |2016/06            |68622     |
|2016/04           |2016/07            |40163     |
|2016/04           |2016/08            |22557     |
|2016/04           |2016/09            |12770     |
|2016/05           |1900/01            |66008     |
|2016/05           |2016/05            |524489    |
|2016/05           |2016/06            |307019    |
|2016/05           |2016/07            |73598     |
|2016/05           |2016/08            |53043     |
|2016/05           |2016/09            |17963     |
|2016/06           |1900/01            |86659     |
|2016/06           |2016/06            |471452    |
|2016/06           |2016/07            |359382    |
|2016/06           |2016/08            |114750    |
|2016/06           |2016/09            |46736     |
|2016/06           |2016/10            |1669      |
|2016/07           |1900/01            |110885    |
|2016/07           |2016/07            |565670    |
|2016/07           |2016/08            |532022    |
|2016/07           |2016/09            |91396     |
|2016/07           |2016/10            |29001     |
|2016/08           |1900/01            |165752    |
|2016/08           |2016/08            |559430    |
|2016/08           |2016/09            |327683    |
|2016/08           |2016/10            |70573     |
|2016/08           |2016/11            |37017     |
|2016/09           |1900/01            |67562     |
|2016/09           |2016/09            |517067    |
|2016/09           |2016/10            |318668    |
|2016/09           |2016/11            |67942     |
|2016/09           |2016/12            |78904     |
|2016/09           |2017/01            |28179     |
|2016/09           |2017/02            |21643     |
|2016/09           |2017/03            |24016     |
|2016/09           |2017/04            |1264      |
|2016/10           |1900/01            |54928     |
|2016/10           |2016/10            |531023    |
|2016/10           |2016/11            |276230    |
|2016/10           |2016/12            |75796     |
|2016/10           |2017/01            |43340     |
|2016/10           |2017/02            |19211     |
|2016/10           |2017/03            |22513     |
|2016/10           |2017/04            |20894     |
|2016/10           |2017/05            |6822      |
|2016/11           |1900/01            |53627     |
|2016/11           |2016/11            |432226    |
|2016/11           |2016/12            |247164    |
|2016/11           |2017/01            |68111     |
|2016/11           |2017/02            |36573     |
|2016/11           |2017/03            |22818     |
|2016/11           |2017/04            |22005     |
|2016/11           |2017/05            |19441     |
|2016/11           |2017/06            |2839      |
|2016/12           |1900/01            |74184     |
|2016/12           |2016/12            |364770    |
|2016/12           |2017/01            |385122    |
|2016/12           |2017/02            |58896     |
|2016/12           |2017/03            |43908     |
|2016/12           |2017/04            |23856     |
|2016/12           |2017/05            |28250     |
|2016/12           |2017/06            |12519     |
+------------------+-------------------+----------+

In [50]:
df_pq3_2 = spark.sql("select da.d_da_year_month as Year_Month_arrival"
                     "      ,dd.d_dd_year_month as Year_Month_dearture"
                     "      ,count(f_i94.f_i94_count) as Immigrants "
                     "  from f_i94_immigrations f_i94"
                     "  join d_date_arrivals da on da.d_da_id = f_i94.d_da_id  "
                     " left join d_date_departures dd on dd.d_dd_id = f_i94.d_dd_id  "
                     " group by Year_Month_arrival, Year_Month_dearture"
                     " order by Immigrants desc "
                     )

df_pq3_2.show(5000, False)

+------------------+-------------------+----------+
|Year_Month_arrival|Year_Month_dearture|Immigrants|
+------------------+-------------------+----------+
|2016/07           |2016/07            |565670    |
|2016/08           |2016/08            |559430    |
|2016/07           |2016/08            |532022    |
|2016/10           |2016/10            |531023    |
|2016/05           |2016/05            |524489    |
|2016/04           |2016/04            |521618    |
|2016/09           |2016/09            |517067    |
|2016/06           |2016/06            |471452    |
|2016/03           |2016/03            |442997    |
|2016/11           |2016/11            |432226    |
|2016/01           |2016/01            |387914    |
|2016/12           |2017/01            |385122    |
|2016/12           |2016/12            |364770    |
|2016/02           |2016/02            |360331    |
|2016/06           |2016/07            |359382    |
|2016/08           |2016/09            |327683    |
|2016/04           |2016/05            |321031    |
|2016/09           |2016/10            |318668    |
|2016/05           |2016/06            |307019    |
|2016/10           |2016/11            |276230    |
|2016/03           |2016/04            |260733    |
|2016/11           |2016/12            |247164    |
|2016/01           |2016/02            |226693    |
|2016/02           |2016/03            |205680    |
|2016/08           |1900/01            |165752    |
|2016/01           |1900/01            |153706    |
|2016/06           |2016/08            |114750    |
|2016/07           |1900/01            |110885    |
|2016/07           |2016/09            |91396     |
|2016/06           |1900/01            |86659     |
|2016/01           |2016/03            |80526     |
|2016/09           |2016/12            |78904     |
|2016/03           |2016/05            |76461     |
|2016/10           |2016/12            |75796     |
|2016/12           |1900/01            |74184     |
|2016/05           |2016/07            |73598     |
|2016/08           |2016/10            |70573     |
|2016/04           |2016/06            |68622     |
|2016/11           |2017/01            |68111     |
|2016/09           |2016/11            |67942     |
|2016/09           |1900/01            |67562     |
|2016/02           |1900/01            |66130     |
|2016/05           |1900/01            |66008     |
|2016/12           |2017/02            |58896     |
|2016/04           |1900/01            |55991     |
|2016/10           |1900/01            |54928     |
|2016/11           |1900/01            |53627     |
|2016/05           |2016/08            |53043     |
|2016/03           |2016/06            |48895     |
|2016/03           |1900/01            |48596     |
|2016/06           |2016/09            |46736     |
|2016/12           |2017/03            |43908     |
|2016/10           |2017/01            |43340     |
|2016/02           |2016/04            |40169     |
|2016/04           |2016/07            |40163     |
|2016/08           |2016/11            |37017     |
|2016/11           |2017/02            |36573     |
|2016/07           |2016/10            |29001     |
|2016/12           |2017/05            |28250     |
|2016/09           |2017/01            |28179     |
|2016/03           |2016/07            |24286     |
|2016/02           |2016/05            |24269     |
|2016/09           |2017/03            |24016     |
|2016/12           |2017/04            |23856     |
|2016/03           |2016/08            |23094     |
|2016/11           |2017/03            |22818     |
|2016/04           |2016/08            |22557     |
|2016/10           |2017/03            |22513     |
|2016/11           |2017/04            |22005     |
|2016/09           |2017/02            |21643     |
|2016/10           |2017/04            |20894     |
|2016/11           |2017/05            |19441     |
|2016/10           |2017/02            |19211     |
|2016/05           |2016/09            |17963     |
|2016/01           |2016/04            |17130     |
|2016/03           |2016/09            |13969     |
|2016/04           |2016/09            |12770     |
|2016/12           |2017/06            |12519     |
|2016/10           |2017/05            |6822      |
|2016/11           |2017/06            |2839      |
|2016/06           |2016/10            |1669      |
|2016/09           |2017/04            |1264      |
+------------------+-------------------+----------+

10. Answer Project Question 3.3: If a foreign person travels to another state after immigration. After which period of
    time does this happen?

In [51]:
# DF to answer Project Question 3.3: If a foreign person travels to another state, after which period of time does this
# happen?
from pyspark.sql.window import Window
from pyspark.sql.functions import dense_rank
windowSpec  = Window.orderBy(col("immigrants").desc())

df_f_i94_immigrations \
    .join(df_d_date_arrivals , df_f_i94_immigrations.d_da_id == df_d_date_arrivals.d_da_id) \
    .join(df_d_date_departures, df_f_i94_immigrations.d_dd_id == df_d_date_departures.d_dd_id) \
    .filter("f_i94_depdate_iso != '1900-01-01'") \
    .withColumn("departure_days_after_arrival", F.datediff(col("f_i94_depdate_iso"), col("f_i94_arrdate_iso"))) \
    .select( "d_da_date"
            ,"d_dd_date"
            ,"departure_days_after_arrival") \
    .groupBy("departure_days_after_arrival").count() \
    .withColumnRenamed("count", "immigrants") \
    .withColumn("dense_rank",dense_rank().over(windowSpec)) \
    .show(500)

+----------------------------+----------+----------+
|departure_days_after_arrival|immigrants|dense_rank|
+----------------------------+----------+----------+
|                           4|    608273|         1|
|                           5|    574832|         2|
|                           3|    562640|         3|
|                           7|    554430|         4|
|                           6|    533309|         5|
|                           1|    512566|         6|
|                           8|    443648|         7|
|                           2|    417354|         8|
|                           9|    402639|         9|
|                          10|    386824|        10|
|                          14|    372211|        11|
|                          11|    334037|        12|
|                          13|    306093|        13|
|                          12|    305318|        14|
|                          15|    275895|        15|
|                          16|    231645|        16|
|                          21|    205906|        17|
|                          17|    199784|        18|
|                          18|    176317|        19|
|                          20|    175272|        20|
|                          19|    166605|        21|
|                          22|    141326|        22|
|                          28|    122036|        23|
|                          23|    117031|        24|
|                          24|    102866|        25|
|                          29|     98680|        26|
|                          30|     97019|        27|
|                          27|     96294|        28|
|                          25|     92552|        29|
|                          26|     90029|        30|
|                          31|     87551|        31|
|                          35|     71090|        32|
|                          32|     66488|        33|
|                          33|     61310|        34|
|                          34|     60740|        35|
|                          42|     52649|        36|
|                          36|     52430|        37|
|                          37|     45667|        38|
|                          41|     43901|        39|
|                          38|     42614|        40|
|                          40|     40919|        41|
|                          39|     40493|        42|
|                          43|     39367|        43|
|                          49|     39085|        44|
|                          56|     37014|        45|
|                          63|     36280|        46|
|                          44|     35811|        47|
|                          61|     35488|        48|
|                          45|     33792|        49|
|                          48|     33124|        50|
|                          62|     32734|        51|
|                          47|     32604|        52|
|                          46|     32345|        53|
|                          60|     32038|        54|
|                          50|     30502|        55|
|                          55|     30306|        56|
|                          57|     28843|        57|
|                          59|     28833|        58|
|                          84|     28569|        59|
|                          51|     28457|        60|
|                          54|     28247|        61|
|                          89|     28239|        62|
|                          58|     27748|        63|
|                          88|     27172|        64|
|                          52|     27090|        65|
|                          53|     26969|        66|
|                          70|     26916|        67|
|                          64|     26102|        68|
|                          91|     25522|        69|
|                          77|     24810|        70|
|                          87|     24650|        71|
|                          90|     24076|        72|
|                          85|     23299|        73|
|                          86|     22934|        74|
|                          65|     22784|        75|
|                          69|     22551|        76|
|                          83|     21895|        77|
|                          68|     21491|        78|
|                          66|     21422|        79|
|                          71|     21185|        80|
|                          67|     20880|        81|
|                          76|     20867|        82|
|                          75|     19786|        83|
|                          78|     19508|        84|
|                          72|     19402|        85|
|                          82|     19366|        86|
|                          92|     19274|        87|
|                          74|     18867|        88|
|                          73|     18828|        89|
|                          81|     18324|        90|
|                          79|     18297|        91|
|                          80|     18000|        92|
|                          93|     12292|        93|
|                          98|     12221|        94|
|                          94|     10882|        95|
|                          97|     10572|        96|
|                          95|     10249|        97|
|                          96|     10196|        98|
|                         105|     10025|        99|
|                          99|      9687|       100|
|                         104|      8738|       101|
|                         100|      8731|       102|
|                         103|      8362|       103|
|                         175|      8353|       104|
|                         101|      8213|       105|
|                         102|      8090|       106|
|                         106|      8087|       107|
|                         112|      8018|       108|
|                         119|      7626|       109|
|                         107|      7261|       110|
|                         176|      6890|       111|
|                         108|      6880|       112|
|                         177|      6729|       113|
|                         110|      6725|       114|
|                         109|      6719|       115|
|                         111|      6688|       116|
|                         178|      6620|       117|
|                         179|      6607|       118|
|                         126|      6442|       119|
|                         120|      6207|       120|
|                         113|      6141|       121|
|                         174|      5849|       122|
|                         118|      5754|       123|
|                         180|      5698|       124|
|                         168|      5604|       125|
|                         121|      5580|       126|
|                         133|      5552|       127|
|                         122|      5483|       128|
|                         114|      5397|       129|
|                         154|      5348|       130|
|                         147|      5338|       131|
|                         115|      5232|       132|
|                         117|      5202|       133|
|                         125|      5185|       134|
|                         140|      5151|       135|
|                         123|      5119|       136|
|                         116|      5017|       137|
|                         161|      4901|       138|
|                         127|      4894|       139|
|                         153|      4864|       140|
|                         173|      4857|       141|
|                         124|      4707|       142|
|                         132|      4477|       143|
|                         128|      4442|       144|
|                         134|      4431|       145|
|                         169|      4396|       146|
|                         148|      4313|       147|
|                         151|      4293|       148|
|                         152|      4262|       149|
|                         167|      4235|       150|
|                         141|      4223|       151|
|                         131|      4220|       152|
|                         172|      4202|       153|
|                         139|      4180|       154|
|                         149|      4170|       155|
|                         130|      4159|       156|
|                         146|      4126|       157|
|                         171|      4097|       158|
|                         150|      4071|       159|
|                         129|      4067|       160|
|                         170|      4059|       161|
|                         162|      3982|       162|
|                         135|      3957|       163|
|                         155|      3893|       164|
|                         160|      3849|       165|
|                         138|      3831|       166|
|                         166|      3795|       167|
|                         181|      3774|       168|
|                         136|      3750|       169|
|                         145|      3749|       170|
|                         142|      3748|       171|
|                         137|      3733|       172|
|                         163|      3669|       173|
|                         143|      3662|       174|
|                         144|      3606|       175|
|                         156|      3604|       176|
|                         164|      3594|       177|
|                         165|      3571|       178|
|                         159|      3419|       179|
|                         158|      3313|       180|
|                         157|      3278|       181|
|                         182|      2969|       182|
|                         183|      1666|       183|
|                         189|      1208|       184|
|                         184|      1145|       185|
|                         185|      1034|       186|
|                         188|      1010|       187|
|                         186|       966|       188|
|                         187|       953|       189|
|                         196|       900|       190|
|                         190|       886|       191|
|                         191|       855|       192|
|                         192|       805|       193|
|                         194|       794|       194|
|                         195|       784|       195|
|                         193|       755|       196|
|                         197|       695|       197|
|                         198|       633|       198|
|                         203|       632|       199|
|                         202|       616|       200|
|                         201|       608|       201|
|                         199|       557|       202|
|                         210|       537|       203|
|                         200|       508|       204|
|                         209|       475|       205|
|                         204|       472|       206|
|                         205|       449|       207|
|                         208|       445|       208|
|                         211|       428|       209|
|                         206|       426|       210|
|                         207|       424|       211|
|                         212|       361|       212|
|                         213|       325|       213|
|                         214|       292|       214|
|                         215|       275|       215|
|                         217|       269|       216|
|                         216|       267|       217|
|                         218|       218|       218|
|                         220|       173|       219|
|                         219|       170|       220|
|                         222|       168|       221|
|                         221|       168|       221|
|                         224|       157|       222|
|                         223|       142|       223|
|                         225|       128|       224|
|                         226|       101|       225|
|                         227|        99|       226|
|                         231|        95|       227|
|                         230|        93|       228|
|                         229|        84|       229|
|                         228|        83|       230|
|                         232|        61|       231|
|                         234|        49|       232|
|                         233|        47|       233|
|                         235|        40|       234|
|                         236|        37|       235|
|                         237|        34|       236|
|                         238|        32|       237|
|                         240|        24|       238|
|                         239|        18|       239|
|                         241|         7|       240|
+----------------------------+----------+----------+